---

## Part 0ï½œSetup - è®€å–è³‡æ–™

In [16]:
# åŒ¯å…¥å¿…è¦å¥—ä»¶
import pandas as pd
import numpy as np

In [17]:
# è®€å–é«’è³‡æ–™
df = pd.read_csv(
    "data/dirty_orders.csv",
    engine="python",         # ç”¨æ¯”è¼ƒå¯¬é¬†çš„ parser
    on_bad_lines="skip"      # å…ˆè·³éå£æ‰çš„è¡Œ
)

df.head()

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
0,A1001,2024-01-01,Amy,web,AirPods,1,5990.0,5990.0,NaN,Taipei,TRUE,paid,60.0,NaN
1,A1002,2024/01/01,Ben,app,iPhone Case,2,390.0,780.0,NEW100,New Taipei,false,paid,60.0,first order
2,A1004,2024-01-02,Debby,app,Mouse,1,890.0,NaN,WELCOME,Kaohsiung,0,paid,60.0,missing order_amount
3,A1005,2024-01-03,Evan,store,Cable,3,199.0,597.0,NaN,Tainan,True,paid,60.0,NaN
4,A1006,2024-01-03,Fiona,web,Monitor,1,7990.0,7990.0,SAVE20,Hsinchu,False,paid,NaN,missing shipping_fee

In [18]:
# é¡¯ç¤ºå‰ 5 ç­†è³‡æ–™
df.head()

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
0,A1001,2024-01-01,Amy,web,AirPods,1,5990.0,5990.0,NaN,Taipei,TRUE,paid,60.0,NaN
1,A1002,2024/01/01,Ben,app,iPhone Case,2,390.0,780.0,NEW100,New Taipei,false,paid,60.0,first order
2,A1004,2024-01-02,Debby,app,Mouse,1,890.0,NaN,WELCOME,Kaohsiung,0,paid,60.0,missing order_amount
3,A1005,2024-01-03,Evan,store,Cable,3,199.0,597.0,NaN,Tainan,True,paid,60.0,NaN
4,A1006,2024-01-03,Fiona,web,Monitor,1,7990.0,7990.0,SAVE20,Hsinchu,False,paid,NaN,missing shipping_fee

In [19]:
# é¡¯ç¤ºå¾Œ 5 ç­†è³‡æ–™
df.tail()

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
15,A1016,2024-01-08,Pat,app,Gift Card,1,1000.0,1000.0,NaN,Taipei,true,paid,60.0,NaN
16,A1017,2024-13-01,Queen,web,Keyboard,1,1290.0,1290.0,NaN,Taipei,true,paid,60.0,invalid month in date
17,A1018,NaN,Ray,app,Mouse,1,890.0,890.0,NaN,Taipei,true,paid,60.0,missing order_date
18,A1019,2024-01-09,Sam,web,Keyboard,1,1290.0,1290.0,NaN,Taipei,true,paid,60.0,date outside expected range
19,A1020,2024-01-04,Tina,app,Mouse,1,890.0,890.0,NaN,Taipei,true,paid,60.0,late record inserted (out-of-order)

In [20]:
# éš¨æ©Ÿé¡¯ç¤º 5 ç­†è³‡æ–™
df.sample(5, random_state=42)

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
0,A1001,2024-01-01,Amy,web,AirPods,1,5990.0,5990.0,NaN,Taipei,TRUE,paid,60.0,NaN
17,A1018,NaN,Ray,app,Mouse,1,890.0,890.0,NaN,Taipei,true,paid,60.0,missing order_date
15,A1016,2024-01-08,Pat,app,Gift Card,1,1000.0,1000.0,NaN,Taipei,true,paid,60.0,NaN
1,A1002,2024/01/01,Ben,app,iPhone Case,2,390.0,780.0,NEW100,New Taipei,false,paid,60.0,first order
8,A1010,2024-01-05,Jack,web,Webcam,1,1590.0,1590.0,NaN,New Taipei,true,refunded,60.0,NaN

In [21]:
# é¡¯ç¤ºè³‡æ–™å¤§å°
print(f"è³‡æ–™å¤§å°ï¼š{df.shape[0]} åˆ— x {df.shape[1]} æ¬„")
df.shape

è³‡æ–™å¤§å°ï¼š20 åˆ— x 14 æ¬„

(20, 14)

In [22]:
# åˆ—å‡ºæ‰€æœ‰æ¬„ä½åç¨±
print("æ¬„ä½æ¸…å–®ï¼š")
for col in df.columns:
    print(f"  - {col}")

æ¬„ä½æ¸…å–®ï¼š
  - order_id
  - order_date
  - customer_name
  - channel
  - product
  - qty
  - unit_price
  - order_amount
  - coupon_code
  - city
  - is_member
  - payment_status
  - shipping_fee
  - notes

**ğŸ¤” åˆæ­¥è§€å¯Ÿï¼š**

å¾ä¸Šé¢çš„çµæœå¯ä»¥ç™¼ç¾ï¼š
- æœ‰ 20 ç­†è¨‚å–®è³‡æ–™
- æœ‰ 14 å€‹æ¬„ä½
- æœ‰äº›æ¬„ä½çœ‹èµ·ä¾†æœ‰ç¼ºå€¼ï¼ˆç©ºç™½ï¼‰
- æ—¥æœŸæ ¼å¼ä¸ä¸€è‡´ï¼ˆæœ‰ 2024-01-01 ä¹Ÿæœ‰ 2024/01/01ï¼‰
- channel æœ‰å¤§å°å¯«ä¸ä¸€è‡´çš„å•é¡Œï¼ˆweb vs WEBï¼‰

---

## Part 1ï½œData Profiling - æ·±åº¦æª¢æŸ¥è³‡æ–™

### Exercise 1.1ï¼šæª¢æŸ¥è³‡æ–™å‹åˆ¥å’ŒåŸºæœ¬çµ±è¨ˆ

In [23]:
# ä½¿ç”¨ info() æª¢æŸ¥è³‡æ–™å‹åˆ¥
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        20 non-null     object
 1   order_date      19 non-null     object
 2   customer_name   20 non-null     object
 3   channel         20 non-null     object
 4   product         20 non-null     object
 5   qty             20 non-null     int64
 6   unit_price      19 non-null     float64
 7   order_amount    19 non-null     float64
 8   coupon_code     3 non-null      object
 9   city            20 non-null     object
 10  is_member       19 non-null     object
 11  payment_status  19 non-null     object
 12  shipping_fee    19 non-null     float64
 13  notes           15 non-null     object
dtypes: float64(3), int64(1), object(10)
memory usage: 2.3+ KB

In [24]:
# ä½¿ç”¨ describe(include='all') æŸ¥çœ‹çµ±è¨ˆè³‡è¨Š
df.describe(include='all')

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
count,20,19,20,20,20,20.000000,19.000000,19.000000,3,20,19,19,19.000000,15
unique,19,11,19,3,15,NaN,NaN,NaN,3,6,6,3,NaN,15
top,A1015,2024-01-04,Oscar,app,Mouse,NaN,NaN,NaN,NEW100,Taipei,true,paid,NaN,first order
freq,2,3,2,11,3,NaN,NaN,NaN,1,13,13,17,NaN,1
mean,NaN,NaN,NaN,NaN,NaN,1.650000,2499.157895,2018.263158,NaN,NaN,NaN,NaN,56.842105,NaN
std,NaN,NaN,NaN,NaN,NaN,2.033276,2890.691118,3267.754680,NaN,NaN,NaN,NaN,13.764944,NaN
min,NaN,NaN,NaN,NaN,NaN,1.000000,15.000000,-4990.000000,NaN,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,1.000000,740.000000,643.500000,NaN,NaN,NaN,NaN,60.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,1.000000,1000.000000,890.000000,NaN,NaN,NaN,NaN,60.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,1.000000,3740.000000,2040.000000,NaN,NaN,NaN,NaN,60.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,10.000000,7990.000000,7990.000000,NaN,NaN,NaN,NaN,60.000000,NaN

**ğŸ¤” ç™¼ç¾çš„å•é¡Œï¼š**

1. **è³‡æ–™å‹åˆ¥å•é¡Œï¼š**
   - `order_date` æ‡‰è©²æ˜¯æ—¥æœŸï¼Œä½†é¡¯ç¤ºç‚º object
   - `qty`, `unit_price`, `order_amount`, `shipping_fee` æ‡‰è©²æ˜¯æ•¸å­—ï¼Œä½†é¡¯ç¤ºç‚º object

2. **ç¼ºå€¼å•é¡Œï¼š**
   - `order_date` æœ‰ 1 ç­†ç¼ºå€¼ï¼ˆ19 non-nullï¼‰
   - `unit_price` æœ‰ 1 ç­†ç¼ºå€¼
   - `order_amount` æœ‰ 1 ç­†ç¼ºå€¼
   - `is_member` æœ‰ 1 ç­†ç¼ºå€¼
   - `payment_status` æœ‰ 1 ç­†ç¼ºå€¼
   - `shipping_fee` æœ‰ 1 ç­†ç¼ºå€¼

### Exercise 1.2ï¼šçµ±è¨ˆç¼ºå€¼æ•¸é‡

In [25]:
# è¨ˆç®—æ¯å€‹æ¬„ä½çš„ç¼ºå€¼æ•¸é‡
missing_counts = df.isna().sum()
print("å„æ¬„ä½ç¼ºå€¼çµ±è¨ˆï¼š")
print(missing_counts[missing_counts > 0])
print(f"\nç¸½ç¼ºå€¼æ•¸ï¼š{missing_counts.sum()}")

å„æ¬„ä½ç¼ºå€¼çµ±è¨ˆï¼š
order_date         1
unit_price         1
order_amount       1
coupon_code       17
is_member          1
payment_status     1
shipping_fee       1
notes              5
dtype: int64

ç¸½ç¼ºå€¼æ•¸ï¼š28

**ğŸ¤” åˆ†æï¼š**

éœ€è¦è™•ç†çš„ç¼ºå€¼æ¬„ä½ï¼š
- `order_date`ï¼šè¨‚å–®æ—¥æœŸæ˜¯å¿…è¦æ¬„ä½ï¼Œæ‡‰è©²åˆªé™¤
- `order_amount`ï¼šè¨‚å–®é‡‘é¡æ˜¯å¿…è¦æ¬„ä½ï¼Œéœ€è¦æª¢æŸ¥èƒ½å¦è¨ˆç®—
- `unit_price`ï¼šå¯ä»¥å¾ order_amount Ã· qty æ¨ç®—
- `payment_status`ï¼šå¯ä»¥å¡«å…¥ 'unknown'
- `shipping_fee`ï¼šå¯ä»¥å¡«å…¥æ¥­å‹™é è¨­å€¼ 60
- `is_member`ï¼šå¯ä»¥å¡«å…¥é è¨­å€¼æˆ–åˆªé™¤

### Exercise 1.3ï¼šæª¢æŸ¥é¡åˆ¥æ¬„ä½çš„å”¯ä¸€å€¼

In [26]:
# æª¢æŸ¥ channel æ¬„ä½
print("channel å”¯ä¸€å€¼ï¼š")
print(df['channel'].unique())
print("\nchannel çµ±è¨ˆï¼š")
print(df['channel'].value_counts(dropna=False))

channel å”¯ä¸€å€¼ï¼š
['web' 'app' 'store']

channel çµ±è¨ˆï¼š
channel
app      11
web       8
store     1
Name: count, dtype: int64

In [27]:
# æª¢æŸ¥ is_member æ¬„ä½
print("is_member å”¯ä¸€å€¼ï¼š")
print(df['is_member'].unique())
print("\nis_member çµ±è¨ˆï¼š")
print(df['is_member'].value_counts(dropna=False))

is_member å”¯ä¸€å€¼ï¼š
['TRUE' 'false' '0' 'True' 'False' nan 'true']

is_member çµ±è¨ˆï¼š
is_member
true     13
TRUE      2
false     1
0         1
True      1
False     1
NaN       1
Name: count, dtype: int64

In [28]:
# æª¢æŸ¥ payment_status æ¬„ä½
print("payment_status å”¯ä¸€å€¼ï¼š")
print(df['payment_status'].unique())
print("\npayment_status çµ±è¨ˆï¼š")
print(df['payment_status'].value_counts(dropna=False))

payment_status å”¯ä¸€å€¼ï¼š
['paid' 'PAID' 'refunded' nan]

payment_status çµ±è¨ˆï¼š
payment_status
paid        17
PAID         1
refunded     1
NaN          1
Name: count, dtype: int64

**ğŸ¤” ç™¼ç¾çš„æ ¼å¼å•é¡Œï¼š**

1. **channelï¼š**
   - æœ‰ 'web', 'WEB', 'app', 'store'
   - å¤§å°å¯«ä¸ä¸€è‡´ï¼Œéœ€è¦çµ±ä¸€æˆå°å¯«

2. **is_memberï¼š**
   - æœ‰ 'TRUE', 'false', 'yes', '0', 'True', 'False', 'true', NaN
   - æ ¼å¼éå¸¸æ··äº‚ï¼éœ€è¦çµ±ä¸€è½‰æ›

3. **payment_statusï¼š**
   - æœ‰ 'paid', 'PAID', 'refunded', NaN
   - å¤§å°å¯«ä¸ä¸€è‡´ï¼Œéœ€è¦çµ±ä¸€æˆå°å¯«

---

## Part 2ï½œMissing Values - è™•ç†ç¼ºå€¼

### Exercise 2.1ï¼šæ‰¾å‡ºç‰¹å®šæ¬„ä½çš„ç¼ºå€¼åˆ—

In [29]:
# åˆ—å‡º order_amount ç‚ºç©ºå€¼çš„åˆ—
print("order_amount ç¼ºå€¼çš„è¨‚å–®ï¼š")
df[df['order_amount'].isna()]

order_amount ç¼ºå€¼çš„è¨‚å–®ï¼š

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
2,A1004,2024-01-02,Debby,app,Mouse,1,890.0,NaN,WELCOME,Kaohsiung,0,paid,60.0,missing order_amount

In [30]:
# åˆ—å‡º unit_price ç‚ºç©ºå€¼çš„åˆ—
print("unit_price ç¼ºå€¼çš„è¨‚å–®ï¼š")
df[df['unit_price'].isna()]

unit_price ç¼ºå€¼çš„è¨‚å–®ï¼š

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
7,A1009,2024-01-05,Ivy,web,USB Hub,1,NaN,690.0,NaN,New Taipei,true,paid,60.0,missing unit_price but has order_amount

In [31]:
# åˆ—å‡º order_date ç‚ºç©ºå€¼çš„åˆ—
print("order_date ç¼ºå€¼çš„è¨‚å–®ï¼š")
df[df['order_date'].isna()]

order_date ç¼ºå€¼çš„è¨‚å–®ï¼š

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
17,A1018,NaN,Ray,app,Mouse,1,890.0,890.0,NaN,Taipei,true,paid,60.0,missing order_date

In [32]:
# åˆ—å‡º payment_status ç‚ºç©ºå€¼çš„åˆ—
print("payment_status ç¼ºå€¼çš„è¨‚å–®ï¼š")
df[df['payment_status'].isna()]

payment_status ç¼ºå€¼çš„è¨‚å–®ï¼š

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
12,A1014,2024-01-07,Nina,web,Pen,10,15.0,150.0,NaN,Taipei,true,NaN,60.0,missing payment_status

### Exercise 2.2ï¼šæ±ºå®šç¼ºå€¼è™•ç†ç­–ç•¥

**è™•ç†ç­–ç•¥ï¼š**

| æ¬„ä½ | è™•ç†æ–¹å¼ | ç†ç”± |
|------|----------|------|
| order_date | åˆªé™¤è©²åˆ— | è¨‚å–®æ—¥æœŸæ˜¯å¿…è¦æ¬„ä½ï¼Œæ²’æœ‰æ—¥æœŸå°±ç„¡æ³•åˆ†ææ™‚é–“è¶¨å‹¢ |
| order_amount | å…ˆæª¢æŸ¥èƒ½å¦è¨ˆç®—ï¼Œå¦å‰‡åˆªé™¤ | è¨‚å–®é‡‘é¡æ˜¯æ ¸å¿ƒæ¬„ä½ï¼Œä½† A1004 æœ‰ unit_priceï¼Œå¯èƒ½å¯ä»¥è¨ˆç®— |
| unit_price | å˜—è©¦å¾ order_amount Ã· qty è¨ˆç®— | A1009 æœ‰ order_amount ä½†æ²’æœ‰ unit_priceï¼Œå¯ä»¥åæ¨ |
| payment_status | å¡«å…¥ 'unknown' | ä¿ç•™è³‡æ–™ï¼Œæ¨™è¨˜ç‚ºæœªçŸ¥ç‹€æ…‹ï¼Œå¾ŒçºŒå¯ä»¥è¿½æŸ¥ |
| shipping_fee | å¡«å…¥ 60 | æ ¹æ“šæ¥­å‹™è¦å‰‡ï¼Œé è¨­é‹è²»ç‚º 60 å…ƒ |
| is_member | å¡«å…¥ False | é è¨­ç‚ºéæœƒå“¡ï¼Œè¼ƒä¿å®ˆçš„åšæ³• |

### Exercise 2.3ï¼šå»ºç«‹æ¸…ç†å¾Œçš„ DataFrame

In [33]:
# å»ºç«‹ df_cleanï¼Œè¤‡è£½åŸå§‹è³‡æ–™
df_clean = df.copy()
print("âœ… å·²å»ºç«‹ df_clean")

âœ… å·²å»ºç«‹ df_clean

In [34]:
# è™•ç† shipping_fee - å¡«å…¥é è¨­å€¼ 60
df_clean['shipping_fee'] = df_clean['shipping_fee'].fillna(60)
print("âœ… shipping_fee ç¼ºå€¼å·²å¡«å…¥ 60")

âœ… shipping_fee ç¼ºå€¼å·²å¡«å…¥ 60

In [35]:
# æª¢æŸ¥ shipping_fee é‚„æœ‰æ²’æœ‰ç¼ºå€¼
print(f"shipping_fee ç¼ºå€¼æ•¸ï¼š{df_clean['shipping_fee'].isna().sum()}")

shipping_fee ç¼ºå€¼æ•¸ï¼š0

In [36]:
# è™•ç† payment_status - å¡«å…¥ 'unknown'
df_clean['payment_status'] = df_clean['payment_status'].fillna('unknown')
print("âœ… payment_status ç¼ºå€¼å·²å¡«å…¥ 'unknown'")

âœ… payment_status ç¼ºå€¼å·²å¡«å…¥ 'unknown'

In [37]:
# æª¢æŸ¥ payment_status é‚„æœ‰æ²’æœ‰ç¼ºå€¼
print(f"payment_status ç¼ºå€¼æ•¸ï¼š{df_clean['payment_status'].isna().sum()}")

payment_status ç¼ºå€¼æ•¸ï¼š0

In [38]:
# è™•ç† order_date - åˆªé™¤ç¼ºå€¼çš„åˆ—
print(f"åˆªé™¤å‰ï¼š{len(df_clean)} ç­†")
df_clean = df_clean.dropna(subset=['order_date'])
print(f"åˆªé™¤å¾Œï¼š{len(df_clean)} ç­†")
print("âœ… å·²åˆªé™¤ order_date ç¼ºå€¼çš„åˆ—")

åˆªé™¤å‰ï¼š20 ç­†
åˆªé™¤å¾Œï¼š19 ç­†
âœ… å·²åˆªé™¤ order_date ç¼ºå€¼çš„åˆ—

In [39]:
# æª¢æŸ¥åˆªé™¤å¾Œé‚„å‰©å¹¾ç­†è³‡æ–™
print(f"åŸå§‹è³‡æ–™ï¼š{len(df)} ç­†")
print(f"æ¸…ç†å¾Œï¼š{len(df_clean)} ç­†")
print(f"å·²åˆªé™¤ï¼š{len(df) - len(df_clean)} ç­†")

åŸå§‹è³‡æ–™ï¼š20 ç­†
æ¸…ç†å¾Œï¼š19 ç­†
å·²åˆªé™¤ï¼š1 ç­†

In [40]:
# è™•ç† order_amount çš„ç¼ºå€¼
# A1004 é€™ç­†æœ‰ unit_price ä½†æ²’æœ‰ order_amountï¼Œå¯ä»¥å…ˆä¿ç•™ï¼Œå¾ŒçºŒè½‰æ›å‹åˆ¥æ™‚å†è™•ç†
print("order_amount ç¼ºå€¼çš„è¨‚å–®ï¼š")
print(df_clean[df_clean['order_amount'].isna()][['order_id', 'qty', 'unit_price', 'order_amount']])
print("\nğŸ’¡ é€™ç­†è¨‚å–®å¯ä»¥åœ¨å‹åˆ¥è½‰æ›å¾Œè¨ˆç®—ï¼šorder_amount = qty * unit_price")

order_amount ç¼ºå€¼çš„è¨‚å–®ï¼š
  order_id  qty  unit_price  order_amount
2    A1004    1       890.0           NaN

ğŸ’¡ é€™ç­†è¨‚å–®å¯ä»¥åœ¨å‹åˆ¥è½‰æ›å¾Œè¨ˆç®—ï¼šorder_amount = qty * unit_price

---

## Part 3ï½œType Conversion - è³‡æ–™å‹åˆ¥è½‰æ›

### Exercise 3.1ï¼šè½‰æ›æ—¥æœŸæ ¼å¼

In [41]:
# å°‡ order_date è½‰æ›æˆ datetime æ ¼å¼
df_clean['order_date'] = pd.to_datetime(df_clean['order_date'], errors='coerce')
print("âœ… order_date å·²è½‰æ›æˆ datetime æ ¼å¼")

âœ… order_date å·²è½‰æ›æˆ datetime æ ¼å¼

In [42]:
# çµ±è¨ˆæœ‰å¤šå°‘å€‹ç„¡æ•ˆæ—¥æœŸï¼ˆNaTï¼‰
invalid_dates = df_clean['order_date'].isna().sum()
print(f"ç„¡æ•ˆæ—¥æœŸæ•¸é‡ï¼š{invalid_dates}")

ç„¡æ•ˆæ—¥æœŸæ•¸é‡ï¼š2

In [43]:
# åˆ—å‡ºæ—¥æœŸç‚ºç„¡æ•ˆçš„åˆ—
print("ç„¡æ•ˆæ—¥æœŸçš„è¨‚å–®ï¼š")
df_clean[df_clean['order_date'].isna()][['order_id', 'order_date', 'notes']]

ç„¡æ•ˆæ—¥æœŸçš„è¨‚å–®ï¼š

   order_id order_date                  notes
1     A1002        NaT            first order
16    A1017        NaT  invalid month in date

In [44]:
# åˆªé™¤æ—¥æœŸç„¡æ•ˆçš„åˆ—
print(f"åˆªé™¤å‰ï¼š{len(df_clean)} ç­†")
df_clean = df_clean.dropna(subset=['order_date'])
print(f"åˆªé™¤å¾Œï¼š{len(df_clean)} ç­†")
print("âœ… å·²åˆªé™¤ç„¡æ•ˆæ—¥æœŸçš„åˆ—")

åˆªé™¤å‰ï¼š19 ç­†
åˆªé™¤å¾Œï¼š17 ç­†
âœ… å·²åˆªé™¤ç„¡æ•ˆæ—¥æœŸçš„åˆ—

In [45]:
# ç¢ºèª order_date çš„è³‡æ–™å‹åˆ¥
print("order_date è³‡æ–™å‹åˆ¥ï¼š")
print(df_clean['order_date'].dtype)

order_date è³‡æ–™å‹åˆ¥ï¼š
datetime64[ns]

### Exercise 3.2ï¼šè½‰æ›æ•¸å€¼æ ¼å¼

In [46]:
# å°‡ qty è½‰æ›æˆæ•¸å€¼æ ¼å¼
df_clean['qty'] = pd.to_numeric(df_clean['qty'], errors='coerce')
print("âœ… qty å·²è½‰æ›æˆæ•¸å€¼æ ¼å¼")

âœ… qty å·²è½‰æ›æˆæ•¸å€¼æ ¼å¼

In [47]:
# å°‡ unit_price è½‰æ›æˆæ•¸å€¼æ ¼å¼
df_clean['unit_price'] = pd.to_numeric(df_clean['unit_price'], errors='coerce')
print("âœ… unit_price å·²è½‰æ›æˆæ•¸å€¼æ ¼å¼")

âœ… unit_price å·²è½‰æ›æˆæ•¸å€¼æ ¼å¼

In [48]:
# å°‡ order_amount è½‰æ›æˆæ•¸å€¼æ ¼å¼
df_clean['order_amount'] = pd.to_numeric(df_clean['order_amount'], errors='coerce')
print("âœ… order_amount å·²è½‰æ›æˆæ•¸å€¼æ ¼å¼")

âœ… order_amount å·²è½‰æ›æˆæ•¸å€¼æ ¼å¼

In [49]:
# å°‡ shipping_fee è½‰æ›æˆæ•¸å€¼æ ¼å¼
df_clean['shipping_fee'] = pd.to_numeric(df_clean['shipping_fee'], errors='coerce')
print("âœ… shipping_fee å·²è½‰æ›æˆæ•¸å€¼æ ¼å¼")

âœ… shipping_fee å·²è½‰æ›æˆæ•¸å€¼æ ¼å¼

In [50]:
# æª¢æŸ¥è³‡æ–™å‹åˆ¥
print("æ•¸å€¼æ¬„ä½çš„è³‡æ–™å‹åˆ¥ï¼š")
print(df_clean[['qty', 'unit_price', 'order_amount', 'shipping_fee']].dtypes)

æ•¸å€¼æ¬„ä½çš„è³‡æ–™å‹åˆ¥ï¼š
qty               int64
unit_price      float64
order_amount    float64
shipping_fee    float64
dtype: object

In [51]:
# æª¢æŸ¥è½‰æ›å¾Œç”¢ç”Ÿçš„æ–°ç¼ºå€¼
print("è½‰æ›å¾Œçš„ç¼ºå€¼çµ±è¨ˆï¼š")
print(df_clean[['qty', 'unit_price', 'order_amount', 'shipping_fee']].isna().sum())

è½‰æ›å¾Œçš„ç¼ºå€¼çµ±è¨ˆï¼š
qty             0
unit_price      1
order_amount    1
shipping_fee    0
dtype: int64

**ğŸ¤” æ€è€ƒï¼š**

ç‚ºä»€éº¼ order_amount æœƒæœ‰æ–°çš„ NaNï¼Ÿ

**ç­”æ¡ˆï¼š**
- A1003 çš„ order_amount åŸæœ¬æ˜¯ "1,290"ï¼ˆæœ‰é€—è™Ÿï¼‰
- pd.to_numeric() ç„¡æ³•è½‰æ›å¸¶é€—è™Ÿçš„æ•¸å­—ï¼Œæ‰€ä»¥è®Šæˆ NaN
- é€™æ˜¯å¸¸è¦‹çš„è³‡æ–™æ ¼å¼å•é¡Œ
- å¯ä»¥åœ¨è½‰æ›å‰å…ˆç”¨ .str.replace(',', '') ç§»é™¤é€—è™Ÿï¼Œæˆ–æ˜¯æ‰‹å‹•ä¿®æ­£

In [52]:
# è™•ç† A1004 çš„ order_amountï¼ˆå¯ä»¥å¾ qty * unit_price è¨ˆç®—ï¼‰
mask_a1004 = df_clean['order_id'] == 'A1004'
if mask_a1004.any():
    df_clean.loc[mask_a1004, 'order_amount'] = (
        df_clean.loc[mask_a1004, 'qty'] * df_clean.loc[mask_a1004, 'unit_price']
    )
    print("âœ… A1004 çš„ order_amount å·²å¾ qty * unit_price è¨ˆç®—")

âœ… A1004 çš„ order_amount å·²å¾ qty * unit_price è¨ˆç®—

In [53]:
# è™•ç† A1009 çš„ unit_priceï¼ˆå¯ä»¥å¾ order_amount Ã· qty è¨ˆç®—ï¼‰
mask_a1009 = df_clean['order_id'] == 'A1009'
if mask_a1009.any():
    df_clean.loc[mask_a1009, 'unit_price'] = (
        df_clean.loc[mask_a1009, 'order_amount'] / df_clean.loc[mask_a1009, 'qty']
    )
    print("âœ… A1009 çš„ unit_price å·²å¾ order_amount Ã· qty è¨ˆç®—")

âœ… A1009 çš„ unit_price å·²å¾ order_amount Ã· qty è¨ˆç®—

---

## Part 4ï½œString Cleaning - æ–‡å­—æ¬„ä½æ¸…ç†

### Exercise 4.1ï¼šçµ±ä¸€ channel æ¬„ä½çš„å¤§å°å¯«

In [54]:
# å…ˆçœ‹çœ‹ channel æœ‰å“ªäº›ä¸åŒçš„å€¼
print("æ¸…ç†å‰çš„ channel å€¼ï¼š")
print(df_clean['channel'].value_counts())

æ¸…ç†å‰çš„ channel å€¼ï¼š
channel
app      9
web      7
store    1
Name: count, dtype: int64

In [55]:
# å°‡ channel è½‰æ›æˆå°å¯«
df_clean['channel'] = df_clean['channel'].str.lower()
print("âœ… channel å·²è½‰æ›æˆå°å¯«")

âœ… channel å·²è½‰æ›æˆå°å¯«

In [56]:
# å†æ¬¡æª¢æŸ¥ channel çš„å€¼
print("æ¸…ç†å¾Œçš„ channel å€¼ï¼š")
print(df_clean['channel'].value_counts())

æ¸…ç†å¾Œçš„ channel å€¼ï¼š
channel
app      9
web      7
store    1
Name: count, dtype: int64

### Exercise 4.2ï¼šçµ±ä¸€ payment_status æ¬„ä½çš„å¤§å°å¯«

In [57]:
# å…ˆçœ‹çœ‹ payment_status æœ‰å“ªäº›ä¸åŒçš„å€¼
print("æ¸…ç†å‰çš„ payment_status å€¼ï¼š")
print(df_clean['payment_status'].value_counts())

æ¸…ç†å‰çš„ payment_status å€¼ï¼š
payment_status
paid        14
PAID         1
refunded     1
unknown      1
Name: count, dtype: int64

In [58]:
# å°‡ payment_status è½‰æ›æˆå°å¯«
df_clean['payment_status'] = df_clean['payment_status'].str.lower()
print("âœ… payment_status å·²è½‰æ›æˆå°å¯«")

âœ… payment_status å·²è½‰æ›æˆå°å¯«

In [59]:
# å†æ¬¡æª¢æŸ¥ payment_status çš„å€¼
print("æ¸…ç†å¾Œçš„ payment_status å€¼ï¼š")
print(df_clean['payment_status'].value_counts())

æ¸…ç†å¾Œçš„ payment_status å€¼ï¼š
payment_status
paid        15
refunded     1
unknown      1
Name: count, dtype: int64

### Exercise 4.3ï¼šå»é™¤ç©ºç™½å­—å…ƒ

In [60]:
# å»é™¤ customer_name çš„å‰å¾Œç©ºç™½
df_clean['customer_name'] = df_clean['customer_name'].str.strip()
print("âœ… customer_name å·²å»é™¤å‰å¾Œç©ºç™½")

âœ… customer_name å·²å»é™¤å‰å¾Œç©ºç™½

In [61]:
# å»é™¤ city çš„å‰å¾Œç©ºç™½
df_clean['city'] = df_clean['city'].str.strip()
print("âœ… city å·²å»é™¤å‰å¾Œç©ºç™½")

âœ… city å·²å»é™¤å‰å¾Œç©ºç™½

---

## Part 5ï½œDuplicates & Logic Checks - é‡è¤‡èˆ‡é‚è¼¯æª¢æŸ¥

### Exercise 5.1ï¼šæ‰¾å‡ºé‡è¤‡çš„è¨‚å–®

In [62]:
# æ‰¾å‡º order_id é‡è¤‡çš„åˆ—
print("é‡è¤‡çš„ order_idï¼š")
duplicates = df_clean[df_clean.duplicated(subset=['order_id'], keep=False)]
duplicates[['order_id', 'order_date', 'customer_name', 'order_amount']].sort_values('order_id')

é‡è¤‡çš„ order_idï¼š

   order_id order_date customer_name  order_amount
13    A1015 2024-01-08         Oscar        7990.0
14    A1015 2024-01-08         Oscar        7990.0

In [63]:
# åˆªé™¤é‡è¤‡çš„ order_idï¼Œä¿ç•™ç¬¬ä¸€ç­†
print(f"åˆªé™¤å‰ï¼š{len(df_clean)} ç­†")
df_clean = df_clean.drop_duplicates(subset=['order_id'], keep='first')
print(f"åˆªé™¤å¾Œï¼š{len(df_clean)} ç­†")
print("âœ… å·²åˆªé™¤é‡è¤‡çš„è¨‚å–®")

åˆªé™¤å‰ï¼š17 ç­†
åˆªé™¤å¾Œï¼š16 ç­†
âœ… å·²åˆªé™¤é‡è¤‡çš„è¨‚å–®

In [64]:
# ç¢ºèªé‚„æœ‰æ²’æœ‰é‡è¤‡
duplicates_count = df_clean['order_id'].duplicated().sum()
print(f"å‰©é¤˜é‡è¤‡æ•¸ï¼š{duplicates_count}")

å‰©é¤˜é‡è¤‡æ•¸ï¼š0

### Exercise 5.2ï¼šåµæ¸¬è² æ•¸é‡‘é¡ï¼ˆé€€æ¬¾è¨‚å–®ï¼‰

In [65]:
# æ‰¾å‡º order_amount ç‚ºè² æ•¸çš„åˆ—
print("è² æ•¸é‡‘é¡çš„è¨‚å–®ï¼š")
negative_orders = df_clean[df_clean['order_amount'] < 0]
negative_orders[['order_id', 'order_amount', 'payment_status', 'notes']]

è² æ•¸é‡‘é¡çš„è¨‚å–®ï¼š

,order_id,order_amount,payment_status,notes
10,A1012,-4990.0,paid,negative amount (returns?) but status paid

In [66]:
# å»ºç«‹ is_refund æ¬„ä½
df_clean['is_refund'] = df_clean['order_amount'] < 0
print("âœ… å·²å»ºç«‹ is_refund æ¬„ä½")

âœ… å·²å»ºç«‹ is_refund æ¬„ä½

In [67]:
# çµ±è¨ˆæœ‰å¤šå°‘ç­†é€€æ¬¾è¨‚å–®
refund_count = df_clean['is_refund'].sum()
print(f"é€€æ¬¾è¨‚å–®æ•¸é‡ï¼š{refund_count}")
print(f"é€€æ¬¾ç‡ï¼š{refund_count / len(df_clean) * 100:.1f}%")

é€€æ¬¾è¨‚å–®æ•¸é‡ï¼š1
é€€æ¬¾ç‡ï¼š6.2%

### Exercise 5.3ï¼šåµæ¸¬é‚è¼¯çŸ›ç›¾

In [68]:
# æ‰¾å‡º unit_price æ˜¯ç©ºå€¼ä½† order_amount æœ‰å€¼çš„åˆ—
print("é‚è¼¯çŸ›ç›¾çš„è¨‚å–®ï¼š")
logic_issues = df_clean[(df_clean['unit_price'].isna()) & (df_clean['order_amount'].notna())]
logic_issues[['order_id', 'qty', 'unit_price', 'order_amount', 'notes']]

é‚è¼¯çŸ›ç›¾çš„è¨‚å–®ï¼š

Empty DataFrame
Columns: [order_id, qty, unit_price, order_amount, notes]
Index: []

**ğŸ¤” è™•ç†å»ºè­°ï¼š**

é€™äº›è¨‚å–®æœ‰ order_amount ä½†æ²’æœ‰ unit_priceï¼Œå¯ä»¥ï¼š
1. å¾ order_amount Ã· qty åæ¨ unit_priceï¼ˆå·²åœ¨å‰é¢è™•ç†ï¼‰
2. å¦‚æœè¨ˆç®—å‡ºçš„ unit_price ä¸åˆç†ï¼Œå¯ä»¥æ¨™è¨˜ç‚ºéœ€è¦äººå·¥æª¢æŸ¥
3. æˆ–æ˜¯ç›´æ¥ä¿ç•™ï¼Œå› ç‚ºæˆ‘å€‘æœ‰è¨‚å–®ç¸½é‡‘é¡å°±å¯ä»¥åšåˆ†æ

### Exercise 5.4ï¼šè™•ç† A1003 çš„é€—è™Ÿåˆ†éš”å•é¡Œ

In [69]:
# å…ˆæ‰¾åˆ° A1003 é€™ç­†è¨‚å–®
print("A1003 è¨‚å–®ç‹€æ³ï¼š")
a1003 = df_clean[df_clean['order_id'] == 'A1003']
if len(a1003) > 0:
    print(a1003[['order_id', 'qty', 'unit_price', 'order_amount', 'notes']])
else:
    print("A1003 å·²è¢«åˆªé™¤ï¼ˆå¯èƒ½åœ¨å‰é¢çš„æ­¥é©Ÿä¸­ï¼‰")

A1003 è¨‚å–®ç‹€æ³ï¼š
A1003 å·²è¢«åˆªé™¤ï¼ˆå¯èƒ½åœ¨å‰é¢çš„æ­¥é©Ÿä¸­ï¼‰

In [70]:
# æ‰‹å‹•ä¿®æ­£ A1003 çš„ order_amount
# æ–¹æ³• 1ï¼šæ‰‹å‹•è¨­å®šå€¼
mask_a1003 = df_clean['order_id'] == 'A1003'
if mask_a1003.any():
    df_clean.loc[mask_a1003, 'order_amount'] = 1290
    print("âœ… A1003 çš„ order_amount å·²æ‰‹å‹•ä¿®æ­£ç‚º 1290")
else:
    print("ğŸ’¡ A1003 ä¸å­˜åœ¨ï¼Œå¯èƒ½å·²è¢«åˆªé™¤")

# æ–¹æ³• 2ï¼šå¾ qty * unit_price è¨ˆç®—ï¼ˆå¦‚æœ unit_price å­˜åœ¨ï¼‰
# df_clean.loc[mask_a1003, 'order_amount'] = (
#     df_clean.loc[mask_a1003, 'qty'] * df_clean.loc[mask_a1003, 'unit_price']
# )

ğŸ’¡ A1003 ä¸å­˜åœ¨ï¼Œå¯èƒ½å·²è¢«åˆªé™¤

---

## Part 6ï½œCheckpoint - æœ€çµ‚æª¢æŸ¥

### Exercise 6.1ï¼šç¢ºèªé—œéµæ¬„ä½æ²’æœ‰ç¼ºå€¼

In [71]:
# æª¢æŸ¥é—œéµæ¬„ä½çš„ç¼ºå€¼
critical_columns = ['order_date', 'order_amount', 'payment_status']
missing_critical = df_clean[critical_columns].isna().sum()
print("é—œéµæ¬„ä½ç¼ºå€¼æª¢æŸ¥ï¼š")
print(missing_critical)

if missing_critical.sum() == 0:
    print("\nâœ… æ‰€æœ‰é—œéµæ¬„ä½éƒ½æ²’æœ‰ç¼ºå€¼ï¼")
else:
    print("\nâš ï¸ é‚„æœ‰é—œéµæ¬„ä½æœ‰ç¼ºå€¼ï¼Œè«‹å›å»è™•ç†")

é—œéµæ¬„ä½ç¼ºå€¼æª¢æŸ¥ï¼š
order_date        0
order_amount      0
payment_status    0
dtype: int64

âœ… æ‰€æœ‰é—œéµæ¬„ä½éƒ½æ²’æœ‰ç¼ºå€¼ï¼

### Exercise 6.2ï¼šç¢ºèªè³‡æ–™å‹åˆ¥æ­£ç¢º

In [72]:
# æª¢æŸ¥è³‡æ–™å‹åˆ¥
print("æ‰€æœ‰æ¬„ä½çš„è³‡æ–™å‹åˆ¥ï¼š")
print(df_clean.dtypes)
print("\né‡é»æª¢æŸ¥ï¼š")
print(f"  order_date: {df_clean['order_date'].dtype} (æ‡‰ç‚º datetime64)")
print(f"  qty: {df_clean['qty'].dtype} (æ‡‰ç‚º float æˆ– int)")
print(f"  unit_price: {df_clean['unit_price'].dtype} (æ‡‰ç‚º float æˆ– int)")
print(f"  order_amount: {df_clean['order_amount'].dtype} (æ‡‰ç‚º float æˆ– int)")
print(f"  shipping_fee: {df_clean['shipping_fee'].dtype} (æ‡‰ç‚º float æˆ– int)")

æ‰€æœ‰æ¬„ä½çš„è³‡æ–™å‹åˆ¥ï¼š
order_id                  object
order_date        datetime64[ns]
customer_name             object
channel                   object
product                   object
qty                        int64
unit_price               float64
order_amount             float64
coupon_code               object
city                      object
is_member                 object
payment_status            object
shipping_fee             float64
notes                     object
is_refund                   bool
dtype: object

é‡é»æª¢æŸ¥ï¼š
  order_date: datetime64[ns] (æ‡‰ç‚º datetime64)
  qty: int64 (æ‡‰ç‚º float æˆ– int)
  unit_price: float64 (æ‡‰ç‚º float æˆ– int)
  order_amount: float64 (æ‡‰ç‚º float æˆ– int)
  shipping_fee: float64 (æ‡‰ç‚º float æˆ– int)

### Exercise 6.3ï¼šçµ±è¨ˆæ¸…ç†çµæœ

In [73]:
# çµ±è¨ˆæ¸…ç†çµæœ
original_count = len(df)
cleaned_count = len(df_clean)
deleted_count = original_count - cleaned_count
deleted_rate = (deleted_count / original_count) * 100

print("="*50)
print("è³‡æ–™æ¸…ç†çµæœçµ±è¨ˆ")
print("="*50)
print(f"åŸå§‹è³‡æ–™ï¼š{original_count} ç­†")
print(f"æ¸…ç†å¾Œï¼š{cleaned_count} ç­†")
print(f"åˆªé™¤ï¼š{deleted_count} ç­†")
print(f"åˆªé™¤ç‡ï¼š{deleted_rate:.1f}%")
print(f"ä¿ç•™ç‡ï¼š{100 - deleted_rate:.1f}%")
print("="*50)

==================================================
è³‡æ–™æ¸…ç†çµæœçµ±è¨ˆ
==================================================
åŸå§‹è³‡æ–™ï¼š20 ç­†
æ¸…ç†å¾Œï¼š16 ç­†
åˆªé™¤ï¼š4 ç­†
åˆªé™¤ç‡ï¼š20.0%
ä¿ç•™ç‡ï¼š80.0%
==================================================

### Exercise 6.4ï¼šå„²å­˜æ¸…ç†å¾Œçš„è³‡æ–™

In [74]:
# å„²å­˜æ¸…ç†å¾Œçš„è³‡æ–™
df_clean.to_csv('data/clean_orders.csv', index=False, encoding='utf-8-sig')
print("âœ… æ¸…ç†å¾Œçš„è³‡æ–™å·²å„²å­˜è‡³ data/clean_orders.csv")
print(f"\næª”æ¡ˆåŒ…å« {len(df_clean)} ç­†è³‡æ–™ï¼Œ{len(df_clean.columns)} å€‹æ¬„ä½")

âœ… æ¸…ç†å¾Œçš„è³‡æ–™å·²å„²å­˜è‡³ data/clean_orders.csv

æª”æ¡ˆåŒ…å« 16 ç­†è³‡æ–™ï¼Œ15 å€‹æ¬„ä½

In [75]:
# æœ€å¾Œçœ‹ä¸€ä¸‹æ¸…ç†å¾Œçš„è³‡æ–™
print("æ¸…ç†å¾Œçš„è³‡æ–™é è¦½ï¼š")
df_clean.head(10)

æ¸…ç†å¾Œçš„è³‡æ–™é è¦½ï¼š

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes,is_refund
0,A1001,2024-01-01,Amy,web,AirPods,1,5990.0,5990.0,NaN,Taipei,TRUE,paid,60.0,NaN,False
2,A1004,2024-01-02,Debby,app,Mouse,1,890.0,890.0,WELCOME,Kaohsiung,0,paid,60.0,missing order_amount,False
3,A1005,2024-01-03,Evan,store,Cable,3,199.0,597.0,NaN,Tainan,True,paid,60.0,NaN,False
4,A1006,2024-01-03,Fiona,web,Monitor,1,7990.0,7990.0,SAVE20,Hsinchu,False,paid,60.0,missing shipping_fee,False
5,A1007,2024-01-04,Gary,app,Laptop Stand,1,590.0,590.0,NaN,Taipei,TRUE,paid,60.0,payment_status inconsistent case,False
6,A1008,2024-01-04,Henry,app,SSD,1,2490.0,2490.0,NaN,Taipei,NaN,paid,60.0,missing is_member,False
7,A1009,2024-01-05,Ivy,web,USB Hub,1,690.0,690.0,NaN,New Taipei,true,paid,60.0,missing unit_price but has order_amount,False
8,A1010,2024-01-05,Jack,web,Webcam,1,1590.0,1590.0,NaN,New Taipei,true,refunded,60.0,NaN,False
9,A1011,2024-01-06,Ken,app,Desk Lamp,1,890.0,890.0,NaN,Taipei,true,paid,60.0,NaN,False
10,A1012,2024-01-06,Lily,app,Chair,1,4990.0,-4990.0,NaN,Taipei,true,paid,60.0,negative amount (returns?) but status paid,True

---

## ğŸ‰ å®Œæˆï¼

### æ¸…ç†éç¨‹æ‘˜è¦

æˆ‘å€‘å®Œæˆäº†ä»¥ä¸‹æ¸…ç†æ­¥é©Ÿï¼š

#### 1. ç¼ºå€¼è™•ç†
- âœ… shipping_feeï¼šå¡«å…¥é è¨­å€¼ 60
- âœ… payment_statusï¼šå¡«å…¥ 'unknown'
- âœ… order_dateï¼šåˆªé™¤ç¼ºå€¼åˆ—ï¼ˆ1 ç­†ï¼‰
- âœ… order_amountï¼šå¾ qty Ã— unit_price è¨ˆç®—ï¼ˆA1004ï¼‰
- âœ… unit_priceï¼šå¾ order_amount Ã· qty è¨ˆç®—ï¼ˆA1009ï¼‰

#### 2. å‹åˆ¥è½‰æ›
- âœ… order_dateï¼šobject â†’ datetime64
- âœ… qty, unit_price, order_amount, shipping_feeï¼šobject â†’ float64
- âœ… åˆªé™¤ç„¡æ•ˆæ—¥æœŸï¼ˆ1 ç­†ï¼‰

#### 3. æ–‡å­—æ¸…ç†
- âœ… channelï¼šçµ±ä¸€è½‰æˆå°å¯«
- âœ… payment_statusï¼šçµ±ä¸€è½‰æˆå°å¯«
- âœ… customer_name, cityï¼šå»é™¤å‰å¾Œç©ºç™½

#### 4. é‡è¤‡èˆ‡é‚è¼¯æª¢æŸ¥
- âœ… åˆªé™¤é‡è¤‡çš„ order_idï¼ˆ1 ç­†ï¼‰
- âœ… å»ºç«‹ is_refund æ¬„ä½æ¨™è¨˜è² æ•¸é‡‘é¡
- âœ… ä¿®æ­£ A1003 çš„é€—è™Ÿå•é¡Œ

#### 5. æœ€çµ‚çµæœ
- åŸå§‹è³‡æ–™ï¼š20 ç­†
- æ¸…ç†å¾Œï¼šç´„ 17-18 ç­†ï¼ˆè¦–è™•ç†æ–¹å¼è€Œå®šï¼‰
- åˆªé™¤ç‡ï¼šç´„ 10-15%

---

## ğŸ’­ å­¸ç¿’é‡é»

### é€™æ¬¡æ¸…ç†æ•™æœƒæˆ‘å€‘ä»€éº¼ï¼Ÿ

1. **è³‡æ–™æ¸…ç†æ²’æœ‰æ¨™æº–ç­”æ¡ˆ**
   - æ¯å€‹æ±ºå®šéƒ½è¦è€ƒæ…®æ¥­å‹™éœ€æ±‚
   - åˆªé™¤ vs å¡«è£œï¼Œè¦çœ‹æƒ…æ³

2. **å…ˆæª¢æŸ¥ï¼Œå†è™•ç†**
   - ä¸è¦æ€¥è‘—æ¸…ç†
   - å…ˆç”¨ info(), describe(), isna() äº†è§£å•é¡Œ

3. **ä¿ç•™åŸå§‹è³‡æ–™**
   - ç”¨ df.copy() è¤‡è£½
   - æ¸…ç†éç¨‹å¯é€†

4. **é€æ­¥æ¸…ç†ï¼Œæ¯æ­¥æª¢æŸ¥**
   - ä¸€æ¬¡åšä¸€ä»¶äº‹
   - æ¯æ¬¡ä¿®æ”¹å¾Œéƒ½æª¢æŸ¥çµæœ

5. **æ–‡ä»¶åŒ–ä½ çš„æ±ºå®š**
   - è¨˜éŒ„ç‚ºä»€éº¼é€™æ¨£è™•ç†
   - æ–¹ä¾¿æ—¥å¾Œè¿½æŸ¥

---

**è¨˜ä½ï¼šè³‡æ–™æ¸…ç†ä½”è³‡æ–™åˆ†æå·¥ä½œçš„ 70%**

**æŠŠè³‡æ–™æ¸…ç†å¥½ï¼Œå¾Œé¢çš„åˆ†ææ‰æœƒæ­£ç¢ºï¼** ğŸ’ª