---

## Part 0ï½œSetup - è®€å–è³‡æ–™

### ğŸ¯ ä»»å‹™èªªæ˜

é¦–å…ˆï¼Œæˆ‘å€‘è¦æŠŠè³‡æ–™è®€é€²ä¾†ï¼Œä¸¦åšåˆæ­¥è§€å¯Ÿã€‚

**è«‹å®Œæˆä»¥ä¸‹æ­¥é©Ÿï¼š**
1. import pandas
2. è®€å– `data/dirty_orders.csv`
3. è§€å¯Ÿè³‡æ–™çš„å‰å¹¾ç­†ã€å¾Œå¹¾ç­†ã€éš¨æ©Ÿå¹¾ç­†
4. ç¢ºèªè³‡æ–™çš„å¤§å°ï¼ˆå¹¾åˆ—ã€å¹¾æ¬„ï¼‰
5. åˆ—å‡ºæ‰€æœ‰æ¬„ä½åç¨±

---

### ğŸ“Œ æç¤º
- ä½¿ç”¨ `pd.read_csv()`
- ä½¿ç”¨ `df.head()`, `df.tail()`, `df.sample()`
- ä½¿ç”¨ `df.shape` å’Œ `df.columns`

In [1]:
# TODO: import pandas as pd
import pandas as pd

In [25]:
# TODO: è®€å– data/dirty_orders.csv
# df = pd.read_csv(...)

df = pd.read_csv('./data/dirty_orders.csv', on_bad_lines='skip')

df

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
0,A1001,2024-01-01,Amy,web,AirPods,1,5990.0,5990.0,NaN,Taipei,TRUE,paid,60.0,NaN
1,A1002,2024/01/01,Ben,app,iPhone Case,2,390.0,780.0,NEW100,New Taipei,false,paid,60.0,first order
2,A1004,2024-01-02,Debby,app,Mouse,1,890.0,NaN,WELCOME,Kaohsiung,0,paid,60.0,missing order_amount
3,A1005,2024-01-03,Evan,store,Cable,3,199.0,597.0,NaN,Tainan,True,paid,60.0,NaN
4,A1006,2024-01-03,Fiona,web,Monitor,1,7990.0,7990.0,SAVE20,Hsinchu,False,paid,NaN,missing shipping_fee
5,A1007,2024-01-04,Gary,app,Laptop Stand,1,590.0,590.0,NaN,Taipei,TRUE,PAID,60.0,payment_status inconsistent case
6,A1008,2024-01-04,Henry,app,SSD,1,2490.0,2490.0,NaN,Taipei,NaN,paid,60.0,missing is_member
7,A1009,2024-01-05,Ivy,web,USB Hub,1,NaN,690.0,NaN,New Taipei,true,paid,60.0,missing unit_price but has order_amount
8,A1010,2024-01-05,Jack,web,Webcam,1,1590.0,1590.0,NaN,New Taipei,true,refunded,60.0,NaN
9,A1011,2024-01-06,Ken,app,Desk Lamp,1,890.0,890.0,NaN,Taipei,true,paid,60.0,NaN
10,A1012,2024-01-06,Lily,app,Chair,1,4990.0,-4990.0,NaN,Taipei,true,paid,60.0,negative amount (returns?) but status paid
11,A1013,2024-01-07,Mike,web,Notebook,2,120.0,240.0,NaN,Taoyuan,true,paid,0.0,shipping_fee 0 ok
12,A1014,2024-01-07,Nina,web,Pen,10,15.0,150.0,NaN,Taipei,true,NaN,60.0,missing payment_status
13,A1015,2024-01-08,Oscar,app,Monitor,1,7990.0,7990.0,NaN,Taipei,true,paid,60.0,duplicate id next row
14,A1015,2024-01-08,Oscar,app,Monitor,1,7990.0,7990.0,NaN,Taipei,true,paid,60.0,duplicate row
15,A1016,2024-01-08,Pat,app,Gift Card,1,1000.0,1000.0,NaN,Taipei,true,paid,60.0,NaN
16,A1017,2024-13-01,Queen,web,Keyboard,1,1290.0,1290.0,NaN,Taipei,true,paid,60.0,invalid month in date
17,A1018,NaN,Ray,app,Mouse,1,890.0,890.0,NaN,Taipei,true,paid,60.0,missing order_date
18,A1019,2024-01-09,Sam,web,Keyboard,1,1290.0,1290.0,NaN,Taipei,true,paid,60.0,date outside expected range
19,A1020,2024-01-04,Tina,app,Mouse,1,890.0,890.0,NaN,Taipei,true,paid,60.0,late record inserted (out-of-order)

In [24]:
# TODO: é¡¯ç¤ºå‰ 5 ç­†è³‡æ–™
df.head()

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
0,A1001,2024-01-01,Amy,web,AirPods,1,5990.0,5990.0,NaN,Taipei,TRUE,paid,60.0,NaN
1,A1002,2024/01/01,Ben,app,iPhone Case,2,390.0,780.0,NEW100,New Taipei,false,paid,60.0,first order
2,A1004,2024-01-02,Debby,app,Mouse,1,890.0,NaN,WELCOME,Kaohsiung,0,paid,60.0,missing order_amount
3,A1005,2024-01-03,Evan,store,Cable,3,199.0,597.0,NaN,Tainan,True,paid,60.0,NaN
4,A1006,2024-01-03,Fiona,web,Monitor,1,7990.0,7990.0,SAVE20,Hsinchu,False,paid,NaN,missing shipping_fee

In [26]:
# TODO: é¡¯ç¤ºå¾Œ 5 ç­†è³‡æ–™
df.tail()

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
15,A1016,2024-01-08,Pat,app,Gift Card,1,1000.0,1000.0,NaN,Taipei,true,paid,60.0,NaN
16,A1017,2024-13-01,Queen,web,Keyboard,1,1290.0,1290.0,NaN,Taipei,true,paid,60.0,invalid month in date
17,A1018,NaN,Ray,app,Mouse,1,890.0,890.0,NaN,Taipei,true,paid,60.0,missing order_date
18,A1019,2024-01-09,Sam,web,Keyboard,1,1290.0,1290.0,NaN,Taipei,true,paid,60.0,date outside expected range
19,A1020,2024-01-04,Tina,app,Mouse,1,890.0,890.0,NaN,Taipei,true,paid,60.0,late record inserted (out-of-order)

In [28]:
# TODO: éš¨æ©Ÿé¡¯ç¤º 5 ç­†è³‡æ–™ï¼ˆè¨­å®š random_state=42 ç¢ºä¿çµæœä¸€è‡´ï¼‰
df.sample(5)

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
16,A1017,2024-13-01,Queen,web,Keyboard,1,1290.0,1290.0,NaN,Taipei,true,paid,60.0,invalid month in date
11,A1013,2024-01-07,Mike,web,Notebook,2,120.0,240.0,NaN,Taoyuan,true,paid,0.0,shipping_fee 0 ok
12,A1014,2024-01-07,Nina,web,Pen,10,15.0,150.0,NaN,Taipei,true,NaN,60.0,missing payment_status
8,A1010,2024-01-05,Jack,web,Webcam,1,1590.0,1590.0,NaN,New Taipei,true,refunded,60.0,NaN
10,A1012,2024-01-06,Lily,app,Chair,1,4990.0,-4990.0,NaN,Taipei,true,paid,60.0,negative amount (returns?) but status paid

In [29]:
# TODO: é¡¯ç¤ºè³‡æ–™å¤§å°ï¼ˆå¹¾åˆ— x å¹¾æ¬„ï¼‰
# æç¤ºï¼šä½¿ç”¨ df.shape
df.shape

(20, 14)

In [30]:
# TODO: åˆ—å‡ºæ‰€æœ‰æ¬„ä½åç¨±
# æç¤ºï¼šä½¿ç”¨ df.columns
df.columns

Index(['order_id', 'order_date', 'customer_name', 'channel', 'product', 'qty',
       'unit_price', 'order_amount', 'coupon_code', 'city', 'is_member',
       'payment_status', 'shipping_fee', 'notes'],
      dtype='object')

**ğŸ¤” åˆæ­¥è§€å¯Ÿï¼š**

å¾ä¸Šé¢çš„çµæœï¼Œä½ ç™¼ç¾ä»€éº¼å•é¡Œäº†å—ï¼Ÿ

ï¼ˆè«‹åœ¨é€™è£¡å¯«ä¸‹ä½ çš„è§€å¯Ÿï¼‰

---

## Part 1ï½œData Profiling - æ·±åº¦æª¢æŸ¥è³‡æ–™

### ğŸ¯ Exercise 1.1ï¼šæª¢æŸ¥è³‡æ–™å‹åˆ¥å’ŒåŸºæœ¬çµ±è¨ˆ

**ä»»å‹™ï¼š**
- ä½¿ç”¨ `df.info()` æŸ¥çœ‹æ¯å€‹æ¬„ä½çš„è³‡æ–™å‹åˆ¥ã€éç©ºå€¼æ•¸é‡
- ä½¿ç”¨ `df.describe(include='all')` æŸ¥çœ‹æ‰€æœ‰æ¬„ä½çš„çµ±è¨ˆè³‡è¨Š

**è¦æ³¨æ„çš„å•é¡Œï¼š**
- å“ªäº›æ¬„ä½æ‡‰è©²æ˜¯æ•¸å­—ä½†é¡¯ç¤ºç‚º objectï¼Ÿ
- å“ªäº›æ¬„ä½æ‡‰è©²æ˜¯æ—¥æœŸä½†é¡¯ç¤ºç‚º objectï¼Ÿ
- å“ªäº›æ¬„ä½çš„éç©ºå€¼æ•¸é‡ä¸ç­‰æ–¼ç¸½åˆ—æ•¸ï¼ˆä»£è¡¨æœ‰ç¼ºå€¼ï¼‰ï¼Ÿ

---

### ğŸ“Œ æç¤º
- å°ç…§ learningï¼š**Section 3ã€Œèªè­˜è³‡æ–™ã€**

In [31]:
# TODO: ä½¿ç”¨ df.info() æª¢æŸ¥è³‡æ–™å‹åˆ¥
df.info

<bound method DataFrame.info of    order_id  order_date customer_name channel       product  qty  unit_price  \
0     A1001  2024-01-01           Amy     web       AirPods    1      5990.0
1     A1002  2024/01/01           Ben     app   iPhone Case    2       390.0
2     A1004  2024-01-02         Debby     app         Mouse    1       890.0
3     A1005  2024-01-03          Evan   store         Cable    3       199.0
4     A1006  2024-01-03         Fiona     web       Monitor    1      7990.0
5     A1007  2024-01-04          Gary     app  Laptop Stand    1       590.0
6     A1008  2024-01-04         Henry     app           SSD    1      2490.0
7     A1009  2024-01-05           Ivy     web       USB Hub    1         NaN
8     A1010  2024-01-05          Jack     web        Webcam    1      1590.0
9     A1011  2024-01-06           Ken     app     Desk Lamp    1       890.0
10    A1012  2024-01-06          Lily     app         Chair    1      4990.0
11    A1013  2024-01-07          Mike     web      Notebook    2       120.0
12    A1014  2024-01-07          Nina     web           Pen   10        15.0
13    A1015  2024-01-08         Oscar     app       Monitor    1      7990.0
14    A1015  2024-01-08         Oscar     app       Monitor    1      7990.0
15    A1016  2024-01-08           Pat     app     Gift Card    1      1000.0
16    A1017  2024-13-01         Queen     web      Keyboard    1      1290.0
17    A1018         NaN           Ray     app         Mouse    1       890.0
18    A1019  2024-01-09           Sam     web      Keyboard    1      1290.0
19    A1020  2024-01-04          Tina     app         Mouse    1       890.0

    order_amount coupon_code        city is_member payment_status  \
0         5990.0         NaN      Taipei      TRUE           paid
1          780.0      NEW100  New Taipei     false           paid
2            NaN     WELCOME   Kaohsiung         0           paid
3          597.0         NaN      Tainan      True           paid
4         7990.0      SAVE20     Hsinchu     False           paid
5          590.0         NaN      Taipei      TRUE           PAID
6         2490.0         NaN      Taipei       NaN           paid
7          690.0         NaN  New Taipei      true           paid
8         1590.0         NaN  New Taipei      true       refunded
9          890.0         NaN      Taipei      true           paid
10       -4990.0         NaN      Taipei      true           paid
11         240.0         NaN     Taoyuan      true           paid
12         150.0         NaN      Taipei      true            NaN
13        7990.0         NaN      Taipei      true           paid
14        7990.0         NaN      Taipei      true           paid
15        1000.0         NaN      Taipei      true           paid
16        1290.0         NaN      Taipei      true           paid
17         890.0         NaN      Taipei      true           paid
18        1290.0         NaN      Taipei      true           paid
19         890.0         NaN      Taipei      true           paid

    shipping_fee                                       notes
0           60.0                                         NaN
1           60.0                                 first order
2           60.0                        missing order_amount
3           60.0                                         NaN
4            NaN                        missing shipping_fee
5           60.0            payment_status inconsistent case
6           60.0                           missing is_member
7           60.0     missing unit_price but has order_amount
8           60.0                                         NaN
9           60.0                                         NaN
10          60.0  negative amount (returns?) but status paid
11           0.0                           shipping_fee 0 ok
12          60.0                      missing payment_status
13          60.0                       duplicate id next row
14          60.0                               duplicate row
15          60.0                                         NaN
16          60.0                       invalid month in date
17          60.0                          missing order_date
18          60.0                 date outside expected range
19          60.0         late record inserted (out-of-order)  >

In [32]:
# TODO: ä½¿ç”¨ df.describe(include='all') æŸ¥çœ‹çµ±è¨ˆè³‡è¨Š
df.describe(include='all')

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
count,20,19,20,20,20,20.000000,19.000000,19.000000,3,20,19,19,19.000000,15
unique,19,11,19,3,15,NaN,NaN,NaN,3,6,6,3,NaN,15
top,A1015,2024-01-04,Oscar,app,Mouse,NaN,NaN,NaN,NEW100,Taipei,true,paid,NaN,first order
freq,2,3,2,11,3,NaN,NaN,NaN,1,13,13,17,NaN,1
mean,NaN,NaN,NaN,NaN,NaN,1.650000,2499.157895,2018.263158,NaN,NaN,NaN,NaN,56.842105,NaN
std,NaN,NaN,NaN,NaN,NaN,2.033276,2890.691118,3267.754680,NaN,NaN,NaN,NaN,13.764944,NaN
min,NaN,NaN,NaN,NaN,NaN,1.000000,15.000000,-4990.000000,NaN,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,1.000000,740.000000,643.500000,NaN,NaN,NaN,NaN,60.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,1.000000,1000.000000,890.000000,NaN,NaN,NaN,NaN,60.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,1.000000,3740.000000,2040.000000,NaN,NaN,NaN,NaN,60.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,10.000000,7990.000000,7990.000000,NaN,NaN,NaN,NaN,60.000000,NaN

**ğŸ¤” ä½ çš„ç™¼ç¾ï¼š**

1. å“ªäº›æ¬„ä½çš„è³‡æ–™å‹åˆ¥çœ‹èµ·ä¾†ä¸å°ï¼Ÿ

ï¼ˆè«‹åœ¨é€™è£¡å¯«ä¸‹ï¼‰

2. æœ‰å“ªäº›æ¬„ä½æœ‰ç¼ºå€¼ï¼Ÿ

ï¼ˆè«‹åœ¨é€™è£¡å¯«ä¸‹ï¼‰

---

### ğŸ¯ Exercise 1.2ï¼šçµ±è¨ˆç¼ºå€¼æ•¸é‡

**ä»»å‹™ï¼š**
- ä½¿ç”¨ `df.isna().sum()` è¨ˆç®—æ¯å€‹æ¬„ä½çš„ç¼ºå€¼æ•¸é‡
- æ€è€ƒï¼šå“ªäº›æ¬„ä½çš„ç¼ºå€¼æœ€å¤šï¼Ÿé€™å°åˆ†ææœ‰ä»€éº¼å½±éŸ¿ï¼Ÿ

---

### ğŸ“Œ æç¤º
- å°ç…§ learningï¼š**Section 6ã€Œç¼ºå€¼ç‚ºä»€éº¼æ˜¯åœ°é›·ã€**

In [33]:
# TODO: è¨ˆç®—æ¯å€‹æ¬„ä½çš„ç¼ºå€¼æ•¸é‡
df.isna().sum()

order_id           0
order_date         1
customer_name      0
channel            0
product            0
qty                0
unit_price         1
order_amount       1
coupon_code       17
city               0
is_member          1
payment_status     1
shipping_fee       1
notes              5
dtype: int64

**ğŸ¤” ä½ çš„åˆ†æï¼š**

å“ªäº›æ¬„ä½çš„ç¼ºå€¼éœ€è¦è™•ç†ï¼Ÿç‚ºä»€éº¼ï¼Ÿ

ï¼ˆè«‹åœ¨é€™è£¡å¯«ä¸‹ï¼‰

---

### ğŸ¯ Exercise 1.3ï¼šæª¢æŸ¥é¡åˆ¥æ¬„ä½çš„å”¯ä¸€å€¼

**ä»»å‹™ï¼š**

å°ä»¥ä¸‹æ¬„ä½ä½¿ç”¨ `.unique()` æˆ– `.value_counts(dropna=False)` æŸ¥çœ‹æ‰€æœ‰å”¯ä¸€å€¼ï¼š
- `channel`ï¼ˆè¨‚å–®ä¾†æºï¼‰
- `is_member`ï¼ˆæ˜¯å¦æœƒå“¡ï¼‰
- `payment_status`ï¼ˆä»˜æ¬¾ç‹€æ…‹ï¼‰

**è¦æ³¨æ„çš„å•é¡Œï¼š**
- æ˜¯å¦æœ‰å¤§å°å¯«ä¸ä¸€è‡´ï¼Ÿ
- æ˜¯å¦æœ‰å¤šç¨®è¡¨é”æ–¹å¼ï¼ˆä¾‹å¦‚ï¼šTRUE / True / trueï¼‰ï¼Ÿ
- æ˜¯å¦æœ‰ç¼ºå€¼ï¼ˆNaNï¼‰ï¼Ÿ

---

### ğŸ“Œ æç¤º
- `df['column_name'].unique()` å¯ä»¥é¡¯ç¤ºæ‰€æœ‰å”¯ä¸€å€¼
- `df['column_name'].value_counts(dropna=False)` å¯ä»¥çµ±è¨ˆæ¯å€‹å€¼çš„æ•¸é‡ï¼ˆåŒ…æ‹¬ NaNï¼‰

In [41]:
# TODO: æª¢æŸ¥ channel æ¬„ä½çš„å”¯ä¸€å€¼
df['channel'].unique()

array(['web', 'app', 'store'], dtype=object)

In [35]:
# TODO: æª¢æŸ¥ is_member æ¬„ä½çš„å”¯ä¸€å€¼
df['is_member'].unique()

array(['TRUE', 'false', '0', 'True', 'False', nan, 'true'], dtype=object)

In [36]:
# TODO: æª¢æŸ¥ payment_status æ¬„ä½çš„å”¯ä¸€å€¼
df['payment_status'].unique()

array(['paid', 'PAID', 'refunded', nan], dtype=object)

**ğŸ¤” ä½ çš„ç™¼ç¾ï¼š**

é€™äº›æ¬„ä½æœ‰ä»€éº¼æ ¼å¼ä¸ä¸€è‡´çš„å•é¡Œï¼Ÿ

ï¼ˆè«‹åœ¨é€™è£¡å¯«ä¸‹ï¼‰

---

## Part 2ï½œMissing Values - è™•ç†ç¼ºå€¼

### ğŸ¯ Exercise 2.1ï¼šæ‰¾å‡ºç‰¹å®šæ¬„ä½çš„ç¼ºå€¼åˆ—

**ä»»å‹™ï¼š**

åˆ—å‡ºä»¥ä¸‹æ¬„ä½æœ‰ç¼ºå€¼çš„æ‰€æœ‰åˆ—ï¼š
1. `order_amount`ï¼ˆè¨‚å–®é‡‘é¡ï¼‰
2. `unit_price`ï¼ˆå–®åƒ¹ï¼‰
3. `order_date`ï¼ˆè¨‚å–®æ—¥æœŸï¼‰
4. `payment_status`ï¼ˆä»˜æ¬¾ç‹€æ…‹ï¼‰

**ç›®çš„ï¼š**
- äº†è§£ç¼ºå€¼ç™¼ç”Ÿåœ¨å“ªäº›è¨‚å–®
- åˆ¤æ–·èƒ½å¦å¾å…¶ä»–æ¬„ä½æ¨ç®—å‡ºç¼ºå¤±çš„å€¼

---

### ğŸ“Œ æç¤º
- ä½¿ç”¨ `df[df['column_name'].isna()]` å¯ä»¥ç¯©é¸å‡ºè©²æ¬„ä½ç‚ºç©ºå€¼çš„åˆ—
- å°ç…§ learningï¼š**Section 5ã€Œloc / ilocã€**

In [38]:
# TODO: åˆ—å‡º order_amount ç‚ºç©ºå€¼çš„åˆ—
df[df['order_amount'].isna()]

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
2,A1004,2024-01-02,Debby,app,Mouse,1,890.0,NaN,WELCOME,Kaohsiung,0,paid,60.0,missing order_amount

In [42]:
# TODO: åˆ—å‡º unit_price ç‚ºç©ºå€¼çš„åˆ—
df[df['unit_price'].isna()]

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
7,A1009,2024-01-05,Ivy,web,USB Hub,1,NaN,690.0,NaN,New Taipei,true,paid,60.0,missing unit_price but has order_amount

In [43]:
# TODO: åˆ—å‡º order_date ç‚ºç©ºå€¼çš„åˆ—
df[df['order_date'].isna()]

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
17,A1018,NaN,Ray,app,Mouse,1,890.0,890.0,NaN,Taipei,true,paid,60.0,missing order_date

In [44]:
# TODO: åˆ—å‡º payment_status ç‚ºç©ºå€¼çš„åˆ—
df[df['payment_status'].isna()]

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
12,A1014,2024-01-07,Nina,web,Pen,10,15.0,150.0,NaN,Taipei,true,NaN,60.0,missing payment_status

In [45]:
df[df['coupon_code'].isna()]

,order_id,order_date,customer_name,channel,product,qty,unit_price,order_amount,coupon_code,city,is_member,payment_status,shipping_fee,notes
0,A1001,2024-01-01,Amy,web,AirPods,1,5990.0,5990.0,NaN,Taipei,TRUE,paid,60.0,NaN
3,A1005,2024-01-03,Evan,store,Cable,3,199.0,597.0,NaN,Tainan,True,paid,60.0,NaN
5,A1007,2024-01-04,Gary,app,Laptop Stand,1,590.0,590.0,NaN,Taipei,TRUE,PAID,60.0,payment_status inconsistent case
6,A1008,2024-01-04,Henry,app,SSD,1,2490.0,2490.0,NaN,Taipei,NaN,paid,60.0,missing is_member
7,A1009,2024-01-05,Ivy,web,USB Hub,1,NaN,690.0,NaN,New Taipei,true,paid,60.0,missing unit_price but has order_amount
8,A1010,2024-01-05,Jack,web,Webcam,1,1590.0,1590.0,NaN,New Taipei,true,refunded,60.0,NaN
9,A1011,2024-01-06,Ken,app,Desk Lamp,1,890.0,890.0,NaN,Taipei,true,paid,60.0,NaN
10,A1012,2024-01-06,Lily,app,Chair,1,4990.0,-4990.0,NaN,Taipei,true,paid,60.0,negative amount (returns?) but status paid
11,A1013,2024-01-07,Mike,web,Notebook,2,120.0,240.0,NaN,Taoyuan,true,paid,0.0,shipping_fee 0 ok
12,A1014,2024-01-07,Nina,web,Pen,10,15.0,150.0,NaN,Taipei,true,NaN,60.0,missing payment_status
13,A1015,2024-01-08,Oscar,app,Monitor,1,7990.0,7990.0,NaN,Taipei,true,paid,60.0,duplicate id next row
14,A1015,2024-01-08,Oscar,app,Monitor,1,7990.0,7990.0,NaN,Taipei,true,paid,60.0,duplicate row
15,A1016,2024-01-08,Pat,app,Gift Card,1,1000.0,1000.0,NaN,Taipei,true,paid,60.0,NaN
16,A1017,2024-13-01,Queen,web,Keyboard,1,1290.0,1290.0,NaN,Taipei,true,paid,60.0,invalid month in date
17,A1018,NaN,Ray,app,Mouse,1,890.0,890.0,NaN,Taipei,true,paid,60.0,missing order_date
18,A1019,2024-01-09,Sam,web,Keyboard,1,1290.0,1290.0,NaN,Taipei,true,paid,60.0,date outside expected range
19,A1020,2024-01-04,Tina,app,Mouse,1,890.0,890.0,NaN,Taipei,true,paid,60.0,late record inserted (out-of-order)

---

### ğŸ¯ Exercise 2.2ï¼šæ±ºå®šç¼ºå€¼è™•ç†ç­–ç•¥

**ä»»å‹™ï¼š**

é‡å°æ¯å€‹æœ‰ç¼ºå€¼çš„æ¬„ä½ï¼Œå¯«ä¸‹ä½ çš„è™•ç†ç­–ç•¥å’Œç†ç”±ã€‚

**æ€è€ƒæ–¹å‘ï¼š**
- é€™å€‹æ¬„ä½æ˜¯å¦æ˜¯å¿…è¦çš„ï¼ˆcriticalï¼‰ï¼Ÿ
- ç¼ºå€¼èƒ½å¦å¾å…¶ä»–æ¬„ä½è¨ˆç®—å‡ºä¾†ï¼Ÿ
- å¡«è£œï¼ˆfillnaï¼‰é‚„æ˜¯åˆªé™¤ï¼ˆdropnaï¼‰ï¼Ÿ
- å¦‚æœå¡«è£œï¼Œè¦å¡«ä»€éº¼å€¼ï¼Ÿ

---

### ğŸ“Œ æç¤º
- å°ç…§ learningï¼š**Section 7ã€Œè™•ç†ç¼ºå€¼ã€**

**ä½ çš„ç­–ç•¥ï¼š**

| æ¬„ä½ | è™•ç†æ–¹å¼ | ç†ç”± |
|------|----------|------|
| order_date | ï¼ˆå¡«å…¥ä½ çš„æ±ºå®šï¼‰ | ï¼ˆå¡«å…¥ä½ çš„ç†ç”±ï¼‰ |
| order_amount | ï¼ˆå¡«å…¥ä½ çš„æ±ºå®šï¼‰ | ï¼ˆå¡«å…¥ä½ çš„ç†ç”±ï¼‰ |
| unit_price | ï¼ˆå¡«å…¥ä½ çš„æ±ºå®šï¼‰ | ï¼ˆå¡«å…¥ä½ çš„ç†ç”±ï¼‰ |
| payment_status | ï¼ˆå¡«å…¥ä½ çš„æ±ºå®šï¼‰ | ï¼ˆå¡«å…¥ä½ çš„ç†ç”±ï¼‰ |
| shipping_fee | ï¼ˆå¡«å…¥ä½ çš„æ±ºå®šï¼‰ | ï¼ˆå¡«å…¥ä½ çš„ç†ç”±ï¼‰ |
| is_member | ï¼ˆå¡«å…¥ä½ çš„æ±ºå®šï¼‰ | ï¼ˆå¡«å…¥ä½ çš„ç†ç”±ï¼‰ |

---

### ğŸ¯ Exercise 2.3ï¼šå»ºç«‹æ¸…ç†å¾Œçš„ DataFrame

**ä»»å‹™ï¼š**

æ ¹æ“šä½ çš„ç­–ç•¥ï¼Œé€æ­¥æ¸…ç†è³‡æ–™ã€‚

**é‡è¦ï¼š**
- å…ˆå»ºç«‹ `df_clean = df.copy()`ï¼Œä¸è¦ç›´æ¥ä¿®æ”¹åŸå§‹è³‡æ–™
- æ¯å€‹æ­¥é©Ÿå¯«åœ¨ç¨ç«‹çš„ cell è£¡
- æ¯æ¬¡ä¿®æ”¹å¾Œéƒ½æª¢æŸ¥çµæœ

**å»ºè­°çš„è™•ç†é †åºï¼š**
1. è™•ç† `shipping_fee`ï¼šå¡«å…¥é è¨­å€¼ 60ï¼ˆæ¥­å‹™è¦å‰‡ï¼‰
2. è™•ç† `payment_status`ï¼šå¡«å…¥ 'unknown'
3. è™•ç† `order_date`ï¼š**åˆªé™¤**ç¼ºå€¼çš„åˆ—ï¼ˆè¨‚å–®æ—¥æœŸæ˜¯å¿…è¦æ¬„ä½ï¼‰
4. è™•ç† `order_amount`ï¼šè¦–æƒ…æ³æ±ºå®šåˆªé™¤æˆ–é‡æ–°è¨ˆç®—

---

### ğŸ“Œ æç¤º
- ä½¿ç”¨ `df.copy()` è¤‡è£½è³‡æ–™
- ä½¿ç”¨ `df['column'].fillna(value)` å¡«è£œç¼ºå€¼
- ä½¿ç”¨ `df.dropna(subset=['column'])` åˆªé™¤ç‰¹å®šæ¬„ä½çš„ç¼ºå€¼åˆ—

In [ ]:
# TODO: å»ºç«‹ df_cleanï¼Œè¤‡è£½åŸå§‹è³‡æ–™
# df_clean = df.copy()

In [ ]:
# TODO: è™•ç† shipping_fee - å¡«å…¥é è¨­å€¼ 60
# df_clean['shipping_fee'] = df_clean['shipping_fee'].fillna(...)

In [ ]:
# TODO: æª¢æŸ¥ shipping_fee é‚„æœ‰æ²’æœ‰ç¼ºå€¼

In [ ]:
# TODO: è™•ç† payment_status - å¡«å…¥ 'unknown'
# df_clean['payment_status'] = df_clean['payment_status'].fillna(...)

In [ ]:
# TODO: æª¢æŸ¥ payment_status é‚„æœ‰æ²’æœ‰ç¼ºå€¼

In [ ]:
# TODO: è™•ç† order_date - åˆªé™¤ç¼ºå€¼çš„åˆ—ï¼ˆè¨‚å–®æ—¥æœŸæ˜¯å¿…è¦æ¬„ä½ï¼‰
# df_clean = df_clean.dropna(subset=[...])

In [ ]:
# TODO: æª¢æŸ¥åˆªé™¤å¾Œé‚„å‰©å¹¾ç­†è³‡æ–™
# print(f"åŸå§‹è³‡æ–™ï¼š{len(df)} ç­†")
# print(f"æ¸…ç†å¾Œï¼š{len(df_clean)} ç­†")

In [ ]:
# TODO: è™•ç† order_amount çš„ç¼ºå€¼
# æç¤ºï¼šè§€å¯Ÿ A1004 é€™ç­†ï¼Œorder_amount æ˜¯ç©ºçš„ï¼Œä½†æœ‰ qty å’Œ unit_price
# å¯ä»¥è€ƒæ…®ï¼šè¨ˆç®— qty * unit_priceï¼Œæˆ–æ˜¯ç›´æ¥åˆªé™¤
# å­¸ç”Ÿè‡ªå·±æ±ºå®š

---

## Part 3ï½œType Conversion - è³‡æ–™å‹åˆ¥è½‰æ›

### ğŸ¯ Exercise 3.1ï¼šè½‰æ›æ—¥æœŸæ ¼å¼

**ä»»å‹™ï¼š**

å°‡ `order_date` å¾æ–‡å­—ï¼ˆobjectï¼‰è½‰æ›æˆæ—¥æœŸæ ¼å¼ï¼ˆdatetimeï¼‰ã€‚

**æ­¥é©Ÿï¼š**
1. ä½¿ç”¨ `pd.to_datetime()` è½‰æ›
2. åŠ ä¸Š `errors='coerce'` åƒæ•¸ï¼Œè®“ç„¡æ•ˆçš„æ—¥æœŸè®Šæˆ NaTï¼ˆNot a Timeï¼‰
3. çµ±è¨ˆæœ‰å¤šå°‘å€‹ç„¡æ•ˆæ—¥æœŸ
4. åˆªé™¤ç„¡æ•ˆæ—¥æœŸçš„åˆ—

**è¦æ³¨æ„ï¼š**
- é€™ä»½è³‡æ–™æœ‰æ—¥æœŸæ ¼å¼ä¸ä¸€è‡´çš„å•é¡Œï¼ˆä¾‹å¦‚ï¼š2024-01-01 vs 2024/01/01ï¼‰
- ä¹Ÿæœ‰é‚è¼¯éŒ¯èª¤çš„æ—¥æœŸï¼ˆä¾‹å¦‚ï¼š2024-13-01ï¼Œ13 æœˆä¸å­˜åœ¨ï¼‰

---

### ğŸ“Œ æç¤º
- `pd.to_datetime(df['column'], errors='coerce')` æœƒæŠŠç„¡æ•ˆæ—¥æœŸè®Šæˆ NaT
- `df['column'].isna().sum()` å¯ä»¥çµ±è¨ˆ NaT çš„æ•¸é‡

In [ ]:
# TODO: å°‡ order_date è½‰æ›æˆ datetime æ ¼å¼
# df_clean['order_date'] = pd.to_datetime(df_clean['order_date'], errors='coerce')

In [ ]:
# TODO: çµ±è¨ˆæœ‰å¤šå°‘å€‹ç„¡æ•ˆæ—¥æœŸï¼ˆNaTï¼‰

In [ ]:
# TODO: åˆ—å‡ºæ—¥æœŸç‚ºç„¡æ•ˆçš„åˆ—ï¼ˆçœ‹çœ‹æ˜¯å“ªäº›è¨‚å–®ï¼‰

In [ ]:
# TODO: åˆªé™¤æ—¥æœŸç„¡æ•ˆçš„åˆ—
# df_clean = df_clean.dropna(subset=['order_date'])

In [ ]:
# TODO: ç¢ºèª order_date çš„è³‡æ–™å‹åˆ¥å·²ç¶“è®Šæˆ datetime64
# df_clean.info()

---

### ğŸ¯ Exercise 3.2ï¼šè½‰æ›æ•¸å€¼æ ¼å¼

**ä»»å‹™ï¼š**

å°‡ä»¥ä¸‹æ¬„ä½å¾æ–‡å­—ï¼ˆobjectï¼‰è½‰æ›æˆæ•¸å€¼ï¼ˆnumericï¼‰ï¼š
- `qty`ï¼ˆæ•¸é‡ï¼‰
- `unit_price`ï¼ˆå–®åƒ¹ï¼‰
- `order_amount`ï¼ˆè¨‚å–®é‡‘é¡ï¼‰
- `shipping_fee`ï¼ˆé‹è²»ï¼‰

**æ­¥é©Ÿï¼š**
1. ä½¿ç”¨ `pd.to_numeric()` è½‰æ›
2. åŠ ä¸Š `errors='coerce'` åƒæ•¸ï¼Œè®“ç„¡æ³•è½‰æ›çš„å€¼è®Šæˆ NaN
3. æª¢æŸ¥è½‰æ›å¾Œçš„çµæœ

**è¦æ³¨æ„ï¼š**
- é€™ä»½è³‡æ–™æœ‰ä¸€äº›æ•¸å­—æ¬„ä½è¢«ç•¶æˆæ–‡å­—å„²å­˜
- ä¾‹å¦‚ A1003 çš„ order_amount æ˜¯ "1,290"ï¼ˆæœ‰é€—è™Ÿï¼‰

---

### ğŸ“Œ æç¤º
- `pd.to_numeric(df['column'], errors='coerce')` æœƒæŠŠç„¡æ³•è½‰æ›çš„å€¼è®Šæˆ NaN

In [ ]:
# TODO: å°‡ qty è½‰æ›æˆæ•¸å€¼æ ¼å¼
# df_clean['qty'] = pd.to_numeric(df_clean['qty'], errors='coerce')

In [ ]:
# TODO: å°‡ unit_price è½‰æ›æˆæ•¸å€¼æ ¼å¼

In [ ]:
# TODO: å°‡ order_amount è½‰æ›æˆæ•¸å€¼æ ¼å¼

In [ ]:
# TODO: å°‡ shipping_fee è½‰æ›æˆæ•¸å€¼æ ¼å¼

In [ ]:
# TODO: æª¢æŸ¥é€™äº›æ¬„ä½çš„è³‡æ–™å‹åˆ¥
# df_clean[['qty', 'unit_price', 'order_amount', 'shipping_fee']].dtypes

In [ ]:
# TODO: æª¢æŸ¥è½‰æ›å¾Œç”¢ç”Ÿçš„æ–°ç¼ºå€¼
# df_clean[['qty', 'unit_price', 'order_amount', 'shipping_fee']].isna().sum()

**ğŸ¤” æ€è€ƒï¼š**

ç‚ºä»€éº¼ order_amount æœƒæœ‰æ–°çš„ NaNï¼Ÿ

æç¤ºï¼šçœ‹çœ‹ A1003 é€™ç­†è¨‚å–®çš„ notes

ï¼ˆè«‹åœ¨é€™è£¡å¯«ä¸‹ä½ çš„æƒ³æ³•ï¼‰

---

## Part 4ï½œString Cleaning - æ–‡å­—æ¬„ä½æ¸…ç†

### ğŸ¯ Exercise 4.1ï¼šçµ±ä¸€ channel æ¬„ä½çš„å¤§å°å¯«

**ä»»å‹™ï¼š**

å°‡ `channel` æ¬„ä½å…¨éƒ¨è½‰æ›æˆå°å¯«ã€‚

**ç‚ºä»€éº¼è¦åšé€™ä»¶äº‹ï¼Ÿ**
- è³‡æ–™è£¡æœ‰ `web`, `WEB`, `Web` ç­‰ä¸åŒå¯«æ³•
- é€™äº›å…¶å¯¦æ˜¯åŒä¸€å€‹æ±è¥¿ï¼Œä½† pandas æœƒç•¶æˆä¸åŒçš„å€¼
- çµ±ä¸€æˆå°å¯«å¾Œï¼Œåˆ†ææ‰æœƒæ­£ç¢º

---

### ğŸ“Œ æç¤º
- ä½¿ç”¨ `df['column'].str.lower()` å¯ä»¥è½‰æ›æˆå°å¯«

In [ ]:
# TODO: å…ˆçœ‹çœ‹ channel æœ‰å“ªäº›ä¸åŒçš„å€¼
# df_clean['channel'].value_counts()

In [ ]:
# TODO: å°‡ channel è½‰æ›æˆå°å¯«
# df_clean['channel'] = df_clean['channel'].str.lower()

In [ ]:
# TODO: å†æ¬¡æª¢æŸ¥ channel çš„å€¼ï¼ˆæ‡‰è©²åªå‰© web, app, storeï¼‰

---

### ğŸ¯ Exercise 4.2ï¼šçµ±ä¸€ payment_status æ¬„ä½çš„å¤§å°å¯«

**ä»»å‹™ï¼š**

å°‡ `payment_status` æ¬„ä½å…¨éƒ¨è½‰æ›æˆå°å¯«ã€‚

**åŒæ¨£çš„åŸå› ï¼š**
- è³‡æ–™è£¡æœ‰ `paid`, `PAID`, `Paid` ç­‰ä¸åŒå¯«æ³•
- è¦çµ±ä¸€æ ¼å¼æ‰èƒ½æ­£ç¢ºåˆ†æ

In [ ]:
# TODO: å…ˆçœ‹çœ‹ payment_status æœ‰å“ªäº›ä¸åŒçš„å€¼

In [ ]:
# TODO: å°‡ payment_status è½‰æ›æˆå°å¯«

In [ ]:
# TODO: å†æ¬¡æª¢æŸ¥ payment_status çš„å€¼

---

### ğŸ¯ Exercise 4.3ï¼šå»é™¤ç©ºç™½å­—å…ƒ

**ä»»å‹™ï¼š**

å°ä»¥ä¸‹æ¬„ä½ä½¿ç”¨ `.str.strip()` å»é™¤å‰å¾Œç©ºç™½ï¼š
- `customer_name`ï¼ˆå®¢æˆ¶å§“åï¼‰
- `city`ï¼ˆåŸå¸‚ï¼‰

**ç‚ºä»€éº¼è¦åšé€™ä»¶äº‹ï¼Ÿ**
- æœ‰äº›è³‡æ–™å¯èƒ½æœ‰å¤šé¤˜çš„ç©ºç™½ï¼ˆä¾‹å¦‚ï¼š" Amy " å’Œ "Amy" æ‡‰è©²æ˜¯åŒä¸€å€‹äººï¼‰
- strip() å¯ä»¥å»é™¤å‰å¾Œç©ºç™½

---

### ğŸ“Œ æç¤º
- `df['column'].str.strip()` å¯ä»¥å»é™¤å‰å¾Œç©ºç™½

In [ ]:
# TODO: å»é™¤ customer_name çš„å‰å¾Œç©ºç™½
# df_clean['customer_name'] = df_clean['customer_name'].str.strip()

In [ ]:
# TODO: å»é™¤ city çš„å‰å¾Œç©ºç™½

---

## Part 5ï½œDuplicates & Logic Checks - é‡è¤‡èˆ‡é‚è¼¯æª¢æŸ¥

### ğŸ¯ Exercise 5.1ï¼šæ‰¾å‡ºé‡è¤‡çš„è¨‚å–®

**ä»»å‹™ï¼š**

æ‰¾å‡º `order_id` é‡è¤‡çš„åˆ—ã€‚

**æ­¥é©Ÿï¼š**
1. ä½¿ç”¨ `df.duplicated(subset=['order_id'])` æ‰¾å‡ºé‡è¤‡çš„åˆ—
2. åˆ—å‡ºæ‰€æœ‰é‡è¤‡çš„è¨‚å–®
3. æ±ºå®šè¦ä¿ç•™å“ªä¸€ç­†ï¼ˆç¬¬ä¸€ç­†æˆ–æœ€å¾Œä¸€ç­†ï¼‰
4. åˆªé™¤é‡è¤‡çš„åˆ—

---

### ğŸ“Œ æç¤º
- `df.duplicated(subset=['column'])` å¯ä»¥æ‰¾å‡ºé‡è¤‡çš„åˆ—
- `df.drop_duplicates(subset=['column'], keep='first')` å¯ä»¥åˆªé™¤é‡è¤‡ï¼Œä¿ç•™ç¬¬ä¸€ç­†
- `keep='last'` å¯ä»¥ä¿ç•™æœ€å¾Œä¸€ç­†

In [ ]:
# TODO: æ‰¾å‡º order_id é‡è¤‡çš„åˆ—
# df_clean[df_clean.duplicated(subset=['order_id'], keep=False)]

In [ ]:
# TODO: åˆªé™¤é‡è¤‡çš„ order_idï¼Œä¿ç•™ç¬¬ä¸€ç­†
# df_clean = df_clean.drop_duplicates(subset=['order_id'], keep='first')

In [ ]:
# TODO: ç¢ºèªé‚„æœ‰æ²’æœ‰é‡è¤‡
# df_clean['order_id'].duplicated().sum()

---

### ğŸ¯ Exercise 5.2ï¼šåµæ¸¬è² æ•¸é‡‘é¡ï¼ˆé€€æ¬¾è¨‚å–®ï¼‰

**ä»»å‹™ï¼š**

æ‰¾å‡º `order_amount` ç‚ºè² æ•¸çš„è¨‚å–®ï¼Œä¸¦å»ºç«‹ä¸€å€‹æ–°æ¬„ä½ `is_refund` ä¾†æ¨™è¨˜ã€‚

**æ­¥é©Ÿï¼š**
1. æ‰¾å‡º order_amount < 0 çš„åˆ—
2. å»ºç«‹æ–°æ¬„ä½ `is_refund`ï¼ˆTrue = é€€æ¬¾ï¼ŒFalse = æ­£å¸¸è¨‚å–®ï¼‰

**æ€è€ƒï¼š**
- ç‚ºä»€éº¼ A1012 çš„é‡‘é¡æ˜¯è² æ•¸ï¼Œä½† payment_status æ˜¯ paidï¼Ÿ
- é€™æ˜¯è³‡æ–™éŒ¯èª¤ï¼Œé‚„æ˜¯æ¥­å‹™é‚è¼¯ï¼ˆé€€æ¬¾ï¼‰ï¼Ÿ

---

### ğŸ“Œ æç¤º
- `df['new_column'] = df['column'] < 0` å¯ä»¥å»ºç«‹å¸ƒæ—æ¬„ä½

In [ ]:
# TODO: æ‰¾å‡º order_amount ç‚ºè² æ•¸çš„åˆ—
# df_clean[df_clean['order_amount'] < 0]

In [ ]:
# TODO: å»ºç«‹ is_refund æ¬„ä½
# df_clean['is_refund'] = df_clean['order_amount'] < 0

In [ ]:
# TODO: çµ±è¨ˆæœ‰å¤šå°‘ç­†é€€æ¬¾è¨‚å–®
# df_clean['is_refund'].sum()

---

### ğŸ¯ Exercise 5.3ï¼šåµæ¸¬é‚è¼¯çŸ›ç›¾

**ä»»å‹™ï¼š**

æ‰¾å‡º `unit_price` æ˜¯ç©ºå€¼ï¼Œä½† `order_amount` æœ‰å€¼çš„åˆ—ã€‚

**æ€è€ƒï¼š**
- é€™ç¨®æƒ…æ³åˆç†å—ï¼Ÿ
- èƒ½å¦å¾å…¶ä»–æ¬„ä½æ¨ç®—å‡º unit_priceï¼Ÿ
- è©²å¦‚ä½•è™•ç†é€™äº›åˆ—ï¼Ÿ

---

### ğŸ“Œ æç¤º
- ä½¿ç”¨å¤šå€‹æ¢ä»¶ï¼š`df[(æ¢ä»¶1) & (æ¢ä»¶2)]`

In [ ]:
# TODO: æ‰¾å‡º unit_price æ˜¯ç©ºå€¼ä½† order_amount æœ‰å€¼çš„åˆ—
# df_clean[(df_clean['unit_price'].isna()) & (df_clean['order_amount'].notna())]

**ğŸ¤” ä½ çš„åˆ¤æ–·ï¼š**

é€™äº›åˆ—è©²å¦‚ä½•è™•ç†ï¼Ÿ

ï¼ˆè«‹åœ¨é€™è£¡å¯«ä¸‹ä½ çš„æƒ³æ³•ï¼‰

---

### ğŸ¯ Exercise 5.4ï¼šè™•ç† A1003 çš„é€—è™Ÿåˆ†éš”å•é¡Œ

**ä»»å‹™ï¼š**

A1003 é€™ç­†è¨‚å–®çš„ `order_amount` åŸæœ¬æ˜¯ "1,290"ï¼ˆæœ‰é€—è™Ÿï¼‰ï¼Œè½‰æ›æˆæ•¸å€¼æ™‚è®Šæˆäº† NaNã€‚

**ä½ æœ‰å…©å€‹é¸æ“‡ï¼š**
1. æ‰‹å‹•ä¿®æ­£ï¼šæŠŠ order_amount æ”¹æˆ 1290
2. åˆªé™¤é€™ç­†è¨‚å–®

**æç¤ºï¼ˆä¸çµ¦å®Œæ•´è§£ç­”ï¼‰ï¼š**
- å¦‚æœè¦æ‰‹å‹•ä¿®æ­£ï¼Œå¯ä»¥ç”¨ `df.loc[æ¢ä»¶, 'æ¬„ä½'] = æ–°å€¼`
- å¦‚æœè¦åˆªé™¤ï¼Œå¯ä»¥ç”¨ `df.drop(index=...)`
- å­¸ç”Ÿè‡ªå·±æ±ºå®š

---

### ğŸ“Œ æç¤º
- å¯ä»¥ç”¨ `df[df['order_id'] == 'A1003']` æ‰¾åˆ°é€™ç­†è¨‚å–®
- å°ç…§ learningï¼š**Section 5ã€Œloc / ilocã€**

In [ ]:
# TODO: å…ˆæ‰¾åˆ° A1003 é€™ç­†è¨‚å–®
# df_clean[df_clean['order_id'] == 'A1003']

In [ ]:
# TODO: æ±ºå®šå¦‚ä½•è™•ç†ï¼ˆä¿®æ­£æˆ–åˆªé™¤ï¼‰
# å­¸ç”Ÿè‡ªå·±æ±ºå®š

---

## Part 6ï½œCheckpoint - æœ€çµ‚æª¢æŸ¥

### ğŸ¯ Exercise 6.1ï¼šç¢ºèªé—œéµæ¬„ä½æ²’æœ‰ç¼ºå€¼

**ä»»å‹™ï¼š**

ç¢ºèªä»¥ä¸‹é—œéµæ¬„ä½æ²’æœ‰ç¼ºå€¼ï¼ˆNaNï¼‰ï¼š
- `order_date`
- `order_amount`
- `payment_status`

**å¦‚æœé‚„æœ‰ç¼ºå€¼ï¼Œè«‹å›å»è™•ç†ã€‚**

In [ ]:
# TODO: æª¢æŸ¥é—œéµæ¬„ä½çš„ç¼ºå€¼
# df_clean[['order_date', 'order_amount', 'payment_status']].isna().sum()

---

### ğŸ¯ Exercise 6.2ï¼šç¢ºèªè³‡æ–™å‹åˆ¥æ­£ç¢º

**ä»»å‹™ï¼š**

ç¢ºèªä»¥ä¸‹æ¬„ä½çš„è³‡æ–™å‹åˆ¥ï¼š
- `order_date` æ‡‰è©²æ˜¯ datetime64
- `qty`, `unit_price`, `order_amount`, `shipping_fee` æ‡‰è©²æ˜¯ float æˆ– int
- `channel`, `payment_status` æ‡‰è©²æ˜¯ objectï¼ˆæ–‡å­—ï¼‰

In [ ]:
# TODO: æª¢æŸ¥è³‡æ–™å‹åˆ¥
# df_clean.dtypes

---

### ğŸ¯ Exercise 6.3ï¼šçµ±è¨ˆæ¸…ç†çµæœ

**ä»»å‹™ï¼š**

æ¯”è¼ƒæ¸…ç†å‰å¾Œçš„è³‡æ–™ï¼š
- åŸå§‹è³‡æ–™æœ‰å¹¾ç­†ï¼Ÿ
- æ¸…ç†å¾Œæœ‰å¹¾ç­†ï¼Ÿ
- åˆªé™¤äº†å¤šå°‘ç­†ï¼Ÿ
- åˆªé™¤ç‡æ˜¯å¤šå°‘ï¼Ÿ

In [ ]:
# TODO: çµ±è¨ˆæ¸…ç†çµæœ
# print(f"åŸå§‹è³‡æ–™ï¼š{len(df)} ç­†")
# print(f"æ¸…ç†å¾Œï¼š{len(df_clean)} ç­†")
# print(f"åˆªé™¤ï¼š{len(df) - len(df_clean)} ç­†")
# print(f"åˆªé™¤ç‡ï¼š{(len(df) - len(df_clean)) / len(df) * 100:.1f}%")

---

### ğŸ¯ Exercise 6.4ï¼šå„²å­˜æ¸…ç†å¾Œçš„è³‡æ–™

**ä»»å‹™ï¼š**

å°‡æ¸…ç†å¾Œçš„è³‡æ–™å„²å­˜æˆ `data/clean_orders.csv`ã€‚

**åƒæ•¸èªªæ˜ï¼š**
- `index=False`ï¼šä¸è¦å„²å­˜ indexï¼ˆåˆ—ç·¨è™Ÿï¼‰
- `encoding='utf-8-sig'`ï¼šæ”¯æ´ä¸­æ–‡ï¼ˆåŠ ä¸Š BOMï¼‰

In [ ]:
# TODO: å„²å­˜æ¸…ç†å¾Œçš„è³‡æ–™
# df_clean.to_csv('data/clean_orders.csv', index=False, encoding='utf-8-sig')
# print("âœ… æ¸…ç†å¾Œçš„è³‡æ–™å·²å„²å­˜è‡³ data/clean_orders.csv")

---

## ğŸ‰ å®Œæˆï¼

**æ­å–œä½ å®Œæˆè³‡æ–™æ¸…ç†ç·´ç¿’ï¼**

### ä½ å­¸åˆ°äº†ä»€éº¼ï¼Ÿ

âœ… **åµæ¸¬è³‡æ–™å•é¡Œ**
- ä½¿ç”¨ info(), describe(), isna(), unique() æª¢æŸ¥è³‡æ–™

âœ… **è™•ç†ç¼ºå€¼**
- åˆ¤æ–·è©²å¡«è£œé‚„æ˜¯åˆªé™¤
- ä½¿ç”¨ fillna(), dropna()

âœ… **è³‡æ–™å‹åˆ¥è½‰æ›**
- ä½¿ç”¨ pd.to_datetime(), pd.to_numeric()
- è™•ç†è½‰æ›å¤±æ•—çš„æƒ…æ³ï¼ˆerrors='coerce'ï¼‰

âœ… **æ–‡å­—æ¸…ç†**
- çµ±ä¸€å¤§å°å¯«ï¼ˆ.str.lower()ï¼‰
- å»é™¤ç©ºç™½ï¼ˆ.str.strip()ï¼‰

âœ… **é‚è¼¯æª¢æŸ¥**
- æ‰¾å‡ºé‡è¤‡è³‡æ–™ï¼ˆduplicatedï¼‰
- åµæ¸¬ç•°å¸¸å€¼ï¼ˆè² æ•¸ã€é‚è¼¯çŸ›ç›¾ï¼‰

---

## ğŸ’­ Reflectionï½œå­¸ç¿’åæ€

**è«‹èŠ± 5 åˆ†é˜å›ç­”ä»¥ä¸‹å•é¡Œï¼š**

### 1. é€™æ¬¡æ¸…ç†è³‡æ–™ï¼Œä½ è¦ºå¾—æœ€å›°é›£çš„æ˜¯ä»€éº¼ï¼Ÿ
ï¼ˆè«‹åœ¨é€™è£¡å¯«ä¸‹ï¼‰


### 2. ä½ å­¸åˆ°å“ªäº›ã€Œå…¬å¸è£¡çœŸçš„æœƒé‡åˆ°ã€çš„è³‡æ–™å•é¡Œï¼Ÿ
ï¼ˆè«‹åœ¨é€™è£¡å¯«ä¸‹ï¼‰


### 3. å¦‚æœå†æ‹¿åˆ°ä¸€ä»½æ–°çš„é«’è³‡æ–™ï¼Œä½ æœƒå…ˆåšä»€éº¼ï¼Ÿ
ï¼ˆè«‹åœ¨é€™è£¡å¯«ä¸‹ä½ çš„æ­¥é©Ÿï¼‰


### 4. è³‡æ–™æ¸…ç†å¤§æ¦‚èŠ±äº†ä½ å¤šå°‘æ™‚é–“ï¼Ÿä½ è¦ºå¾—å€¼å¾—å—ï¼Ÿ
ï¼ˆè«‹åœ¨é€™è£¡å¯«ä¸‹ï¼‰


---

## ğŸ“š å»¶ä¼¸å­¸ç¿’

**å¦‚æœä½ é‚„æƒ³æŒ‘æˆ°æ›´å¤šï¼š**

1. **è³‡æ–™é©—è­‰**
   - å¯«ä¸€å€‹å‡½æ•¸ä¾†æª¢æŸ¥è³‡æ–™æ˜¯å¦ç¬¦åˆè¦å‰‡
   - ä¾‹å¦‚ï¼šorder_amount æ˜¯å¦ç­‰æ–¼ qty * unit_priceï¼Ÿ

2. **è‡ªå‹•åŒ–æ¸…ç†**
   - æŠŠæ¸…ç†æ­¥é©Ÿå¯«æˆå‡½æ•¸
   - ä¸‹æ¬¡æ‹¿åˆ°æ–°è³‡æ–™æ™‚å¯ä»¥ç›´æ¥å¥—ç”¨

3. **è³‡æ–™åˆ†æ**
   - ç”¨æ¸…ç†å¾Œçš„è³‡æ–™åšåˆ†æ
   - ä¾‹å¦‚ï¼šå“ªå€‹é€šè·¯çš„è¨‚å–®æœ€å¤šï¼Ÿå¹³å‡é‡‘é¡å¤šå°‘ï¼Ÿ

---

**è¨˜ä½ï¼šè³‡æ–™æ¸…ç†ä½”è³‡æ–™åˆ†æå·¥ä½œçš„ 70%**

**æŠŠè³‡æ–™æ¸…ç†å¥½ï¼Œå¾Œé¢çš„åˆ†ææ‰æœƒæ­£ç¢ºï¼** ğŸ’ª